In [1]:
import pandas as pd
import statsmodels.api as sm
from statsmodels.regression.mixed_linear_model import MixedLM
import matplotlib.pyplot as plt
from scipy import stats
from viewser.operations import fetch
from viewser import Queryset, Column
import subprocess
from scipy.stats import chi2

In [2]:
from MonthToAnnual import MonthToAnnualRegression

In [3]:
df = Queryset("month_to_annual_moving_sum", "country_month").fetch()

 .

In [4]:
df

                            country_name  ged_sb_nolag  wdi_sh_dyn_mort_fe  \
month_id country_id
1        1                        Guyana           0.0            4.151040
         2                      Suriname           0.0            3.953165
         3           Trinidad and Tobago           0.0            3.616309
         4                     Venezuela           0.0            3.711130
         5                         Samoa           0.0            3.718438
...                                  ...           ...                 ...
852      242                    Tanzania           0.0            3.793239
         243                     Morocco           0.0            2.844909
         244                  Mauritania           0.0            3.616309
         245                       Sudan           0.0            3.927896
         246                 South Sudan           0.0            4.552824

                     wdi_ny_gdp_mktp_kd  wdi_sp_pop_totl  ged_sb_tlag1  \
month_id country_id
1        1                    21.645497        13.564709  0.000000e+00
         2                    21.704949        12.834983  0.000000e+00
         3                    22.994549        13.935826  0.000000e+00
         4                     0.000000        16.537493  0.000000e+00
         5                    19.784920        12.013131  0.000000e+00
...                                 ...              ...           ...
852      242                  24.884573        17.967941  0.000000e+00
         243                  25.542467        17.428496  0.000000e+00
         244                  22.728763        15.344817  0.000000e+00
         245                  25.101865        17.636672  8.881784e-16
         246                  23.207989        16.190256  0.000000e+00

                     ged_sb_tlag2  ged_sb_tlag3  ged_sb_tlag4  ged_sb_tlag5  \
month_id country_id
1        1           0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
         2           0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
         3           0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
         4           0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
         5           0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
...                           ...           ...           ...           ...
852      242         0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
         243         0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
         244         0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
         245         8.881784e-16  8.881784e-16  8.881784e-16  8.881784e-16
         246         0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00

                     ...  ged_sb_tlag27  ged_sb_tlag28  ged_sb_tlag29  \
month_id country_id  ...
1        1           ...   0.000000e+00   0.000000e+00   0.000000e+00
         2           ...   0.000000e+00   0.000000e+00   0.000000e+00
         3           ...   0.000000e+00   0.000000e+00   0.000000e+00
         4           ...   0.000000e+00   0.000000e+00   0.000000e+00
         5           ...   0.000000e+00   0.000000e+00   0.000000e+00
...                  ...            ...            ...            ...
852      242         ...   0.000000e+00   0.000000e+00   0.000000e+00
         243         ...   0.000000e+00   0.000000e+00   0.000000e+00
         244         ...   0.000000e+00   0.000000e+00   0.000000e+00
         245         ...   8.881784e-16   8.881784e-16   8.881784e-16
         246         ...   0.000000e+00   0.000000e+00   0.000000e+00

                     ged_sb_tlag30  ged_sb_tlag31  ged_sb_tlag32  \
month_id country_id
1        1            0.000000e+00   0.000000e+00   0.000000e+00
         2            0.000000e+00   0.000000e+00   0.000000e+00
         3            0.000000e+00   0.000000e+00   0.000000e+00
         4            0.000000e+00   0.000000e+00   0.000000e+00
         5            0.000000e+00   0.000000e+00   0.000000e+00
...                            ...            ...            ...
852      242          0.000000e+00   0.000000e+00   0.000000e+00
         243          0.000000e+00   0.000000e+00   0.000000e+00
         244          0.000000e+00   0.000000e+00   0.000000e+00
         245          8.881784e-16   8.881784e-16   8.881784e-16
         246          0.000000e+00   0.000000e+00   0.000000e+00

                     ged_sb_tlag33  ged_sb_tlag34  ged_sb_tlag35  \
month_id country_id
1        1            0.000000e+00   0.000000e+00   0.000000e+00
         2            0.000000e+00   0.000000e+00   0.000000e+00
         3            0.000000e+00   0.000000e+00   0.000000e+00
         4            0.000000e+00   0.000000e+00   0.000000e+00
         5            0.000000e+00   0.000000e+00   0.000000e+00
...                            ...            ...            ...
852      242          0.000000e+00   0.000000e+00   0.000000e+00
         243          0.000000e+00   0.000000e+00   0.000000e+00
         244          0.000000e+00   0.000000e+00   0.000000e+00
         245          8.881784e-16   8.881784e-16   8.881784e-16
         246          0.000000e+00   0.000000e+00   0.000000e+00

                     ged_sb_tlag36
month_id country_id
1        1            0.000000e+00
         2            0.000000e+00
         3            0.000000e+00
         4            0.000000e+00
         5            0.000000e+00
...                            ...
852      242          0.000000e+00
         243          0.000000e+00
         244          0.000000e+00
         245          8.881784e-16
         246          0.000000e+00

[158230 rows x 41 columns]

In [5]:
df = df.query('country_id != [239,240]')

In [6]:
df.query('country_id == 28')

,,country_name,ged_sb_nolag,wdi_sh_dyn_mort_fe,wdi_ny_gdp_mktp_kd,wdi_sp_pop_totl,ged_sb_tlag1,ged_sb_tlag2,ged_sb_tlag3,ged_sb_tlag4,ged_sb_tlag5,...,ged_sb_tlag27,ged_sb_tlag28,ged_sb_tlag29,ged_sb_tlag30,ged_sb_tlag31,ged_sb_tlag32,ged_sb_tlag33,ged_sb_tlag34,ged_sb_tlag35,ged_sb_tlag36
month_id,country_id,,,,,,,,,,,,,,,,,,,,,
1,28,Colombia,0.0,3.979682,25.179415,17.080361,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,28,Colombia,0.0,3.979682,25.179415,17.080361,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,28,Colombia,0.0,3.979682,25.179415,17.080361,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,28,Colombia,0.0,3.979682,25.179415,17.080361,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,28,Colombia,0.0,3.979682,25.179415,17.080361,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
848,28,Colombia,0.0,2.525729,26.524291,17.757414,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
849,28,Colombia,0.0,2.525729,26.524291,17.757414,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
850,28,Colombia,0.0,2.525729,26.524291,17.757414,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
851,28,Colombia,0.0,2.525729,26.524291,17.757414,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
852,28,Colombia,0.0,2.525729,26.524291,17.757414,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
fixed_effect_column = 'country_id'
df[fixed_effect_column] = df.index.get_level_values(fixed_effect_column)
fixed_effect_column = 'month_id'
df[fixed_effect_column] = df.index.get_level_values(fixed_effect_column)

/var/folders/qx/vpttxp096k9bhf2r8qcpdxlm0000gn/T/ipykernel_94011/1383390420.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[fixed_effect_column] = df.index.get_level_values(fixed_effect_column)
/var/folders/qx/vpttxp096k9bhf2r8qcpdxlm0000gn/T/ipykernel_94011/1383390420.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[fixed_effect_column] = df.index.get_level_values(fixed_effect_column)

In [8]:
df

                            country_name  ged_sb_nolag  wdi_sh_dyn_mort_fe  \
month_id country_id
1        1                        Guyana           0.0            4.151040
         2                      Suriname           0.0            3.953165
         3           Trinidad and Tobago           0.0            3.616309
         4                     Venezuela           0.0            3.711130
         5                         Samoa           0.0            3.718438
...                                  ...           ...                 ...
852      242                    Tanzania           0.0            3.793239
         243                     Morocco           0.0            2.844909
         244                  Mauritania           0.0            3.616309
         245                       Sudan           0.0            3.927896
         246                 South Sudan           0.0            4.552824

                     wdi_ny_gdp_mktp_kd  wdi_sp_pop_totl  ged_sb_tlag1  \
month_id country_id
1        1                    21.645497        13.564709  0.000000e+00
         2                    21.704949        12.834983  0.000000e+00
         3                    22.994549        13.935826  0.000000e+00
         4                     0.000000        16.537493  0.000000e+00
         5                    19.784920        12.013131  0.000000e+00
...                                 ...              ...           ...
852      242                  24.884573        17.967941  0.000000e+00
         243                  25.542467        17.428496  0.000000e+00
         244                  22.728763        15.344817  0.000000e+00
         245                  25.101865        17.636672  8.881784e-16
         246                  23.207989        16.190256  0.000000e+00

                     ged_sb_tlag2  ged_sb_tlag3  ged_sb_tlag4  ged_sb_tlag5  \
month_id country_id
1        1           0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
         2           0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
         3           0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
         4           0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
         5           0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
...                           ...           ...           ...           ...
852      242         0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
         243         0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
         244         0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
         245         8.881784e-16  8.881784e-16  8.881784e-16  8.881784e-16
         246         0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00

                     ...  ged_sb_tlag29  ged_sb_tlag30  ged_sb_tlag31  \
month_id country_id  ...
1        1           ...   0.000000e+00   0.000000e+00   0.000000e+00
         2           ...   0.000000e+00   0.000000e+00   0.000000e+00
         3           ...   0.000000e+00   0.000000e+00   0.000000e+00
         4           ...   0.000000e+00   0.000000e+00   0.000000e+00
         5           ...   0.000000e+00   0.000000e+00   0.000000e+00
...                  ...            ...            ...            ...
852      242         ...   0.000000e+00   0.000000e+00   0.000000e+00
         243         ...   0.000000e+00   0.000000e+00   0.000000e+00
         244         ...   0.000000e+00   0.000000e+00   0.000000e+00
         245         ...   8.881784e-16   8.881784e-16   8.881784e-16
         246         ...   0.000000e+00   0.000000e+00   0.000000e+00

                     ged_sb_tlag32  ged_sb_tlag33  ged_sb_tlag34  \
month_id country_id
1        1            0.000000e+00   0.000000e+00   0.000000e+00
         2            0.000000e+00   0.000000e+00   0.000000e+00
         3            0.000000e+00   0.000000e+00   0.000000e+00
         4            0.000000e+00   0.000000e+00   0.000000e+00
         5            0.000000e+00   0.000000e+00   0.000000e+00
...                            ...            ...            ...
852      242          0.000000e+00   0.000000e+00   0.000000e+00
         243          0.000000e+00   0.000000e+00   0.000000e+00
         244          0.000000e+00   0.000000e+00   0.000000e+00
         245          8.881784e-16   8.881784e-16   8.881784e-16
         246          0.000000e+00   0.000000e+00   0.000000e+00

                     ged_sb_tlag35  ged_sb_tlag36  country_id  month_id
month_id country_id
1        1            0.000000e+00   0.000000e+00           1         1
         2            0.000000e+00   0.000000e+00           2         1
         3            0.000000e+00   0.000000e+00           3         1
         4            0.000000e+00   0.000000e+00           4         1
         5            0.000000e+00   0.000000e+00           5         1
...                            ...            ...         ...       ...
852      242          0.000000e+00   0.000000e+00         242       852
         243          0.000000e+00   0.000000e+00         243       852
         244          0.000000e+00   0.000000e+00         244       852
         245          8.881784e-16   8.881784e-16         245       852
         246          0.000000e+00   0.000000e+00         246       852

[157862 rows x 43 columns]

In [9]:
# Remove countries that don't exist anymore
df = df.query('country_id!=185') # German Democratic Republic
# Remove country months that have value zero for dependent variable
df = df.query('wdi_sh_dyn_mort_fe!=0')

In [10]:
df

                            country_name  ged_sb_nolag  wdi_sh_dyn_mort_fe  \
month_id country_id
1        1                        Guyana           0.0            4.151040
         2                      Suriname           0.0            3.953165
         3           Trinidad and Tobago           0.0            3.616309
         4                     Venezuela           0.0            3.711130
         5                         Samoa           0.0            3.718438
...                                  ...           ...                 ...
852      242                    Tanzania           0.0            3.793239
         243                     Morocco           0.0            2.844909
         244                  Mauritania           0.0            3.616309
         245                       Sudan           0.0            3.927896
         246                 South Sudan           0.0            4.552824

                     wdi_ny_gdp_mktp_kd  wdi_sp_pop_totl  ged_sb_tlag1  \
month_id country_id
1        1                    21.645497        13.564709  0.000000e+00
         2                    21.704949        12.834983  0.000000e+00
         3                    22.994549        13.935826  0.000000e+00
         4                     0.000000        16.537493  0.000000e+00
         5                    19.784920        12.013131  0.000000e+00
...                                 ...              ...           ...
852      242                  24.884573        17.967941  0.000000e+00
         243                  25.542467        17.428496  0.000000e+00
         244                  22.728763        15.344817  0.000000e+00
         245                  25.101865        17.636672  8.881784e-16
         246                  23.207989        16.190256  0.000000e+00

                     ged_sb_tlag2  ged_sb_tlag3  ged_sb_tlag4  ged_sb_tlag5  \
month_id country_id
1        1           0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
         2           0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
         3           0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
         4           0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
         5           0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
...                           ...           ...           ...           ...
852      242         0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
         243         0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
         244         0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
         245         8.881784e-16  8.881784e-16  8.881784e-16  8.881784e-16
         246         0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00

                     ...  ged_sb_tlag29  ged_sb_tlag30  ged_sb_tlag31  \
month_id country_id  ...
1        1           ...   0.000000e+00   0.000000e+00   0.000000e+00
         2           ...   0.000000e+00   0.000000e+00   0.000000e+00
         3           ...   0.000000e+00   0.000000e+00   0.000000e+00
         4           ...   0.000000e+00   0.000000e+00   0.000000e+00
         5           ...   0.000000e+00   0.000000e+00   0.000000e+00
...                  ...            ...            ...            ...
852      242         ...   0.000000e+00   0.000000e+00   0.000000e+00
         243         ...   0.000000e+00   0.000000e+00   0.000000e+00
         244         ...   0.000000e+00   0.000000e+00   0.000000e+00
         245         ...   8.881784e-16   8.881784e-16   8.881784e-16
         246         ...   0.000000e+00   0.000000e+00   0.000000e+00

                     ged_sb_tlag32  ged_sb_tlag33  ged_sb_tlag34  \
month_id country_id
1        1            0.000000e+00   0.000000e+00   0.000000e+00
         2            0.000000e+00   0.000000e+00   0.000000e+00
         3            0.000000e+00   0.000000e+00   0.000000e+00
         4            0.000000e+00   0.000000e+00   0.000000e+00
         5            0.000000e+00   0.000000e+00   0.000000e+00
...                            ...            ...            ...
852      242          0.000000e+00   0.000000e+00   0.000000e+00
         243          0.000000e+00   0.000000e+00   0.000000e+00
         244          0.000000e+00   0.000000e+00   0.000000e+00
         245          8.881784e-16   8.881784e-16   8.881784e-16
         246          0.000000e+00   0.000000e+00   0.000000e+00

                     ged_sb_tlag35  ged_sb_tlag36  country_id  month_id
month_id country_id
1        1            0.000000e+00   0.000000e+00           1         1
         2            0.000000e+00   0.000000e+00           2         1
         3            0.000000e+00   0.000000e+00           3         1
         4            0.000000e+00   0.000000e+00           4         1
         5            0.000000e+00   0.000000e+00           5         1
...                            ...            ...         ...       ...
852      242          0.000000e+00   0.000000e+00         242       852
         243          0.000000e+00   0.000000e+00         243       852
         244          0.000000e+00   0.000000e+00         244       852
         245          8.881784e-16   8.881784e-16         245       852
         246          0.000000e+00   0.000000e+00         246       852

[155490 rows x 43 columns]

In [11]:
df = df.query('month_id > 240 & month_id < 450')

In [12]:
data_without_shocks = MonthToAnnualRegression(df)

In [13]:
data_without_shocks.data

                            country_name  ged_sb_nolag  wdi_sh_dyn_mort_fe  \
month_id country_id
241      1                        Guyana      0.000000            3.732896
         2                      Suriname      0.000000            3.349904
         3           Trinidad and Tobago      0.000000            3.277145
         4                     Venezuela      0.000000            2.990720
         5                         Samoa      0.000000            3.005683
...                                  ...           ...                 ...
449      242                    Tanzania      0.000000            3.929863
         243                     Morocco      0.000000            3.005683
         244                  Mauritania      0.000000            3.747148
         245                       Sudan      4.143135            4.053523
         246                 South Sudan      1.609438            4.554929

                     wdi_ny_gdp_mktp_kd  wdi_sp_pop_totl  ged_sb_tlag1  \
month_id country_id
241      1                    21.779484        13.539826      0.000000
         2                    21.795169        13.079454      0.000000
         3                    23.309243        14.102345      0.000000
         4                     0.000000        17.011230      0.000000
         5                    20.098032        12.122740      0.000000
...                                 ...              ...           ...
449      242                  24.713506        17.845619      0.000000
         243                  25.482046        17.385835      0.000000
         244                  22.615803        15.241029      0.000000
         245                  25.206898        17.521243     28.105694
         246                  23.207989        16.181843     39.834858

                     ged_sb_tlag2  ged_sb_tlag3  ged_sb_tlag4  ged_sb_tlag5  \
month_id country_id
241      1               0.000000      0.000000      0.000000      0.000000
         2               0.000000      0.000000      0.000000      0.000000
         3               0.000000      0.000000      0.000000      0.000000
         4               0.000000      0.000000      0.000000      0.000000
         5               0.000000      0.000000      0.000000      0.000000
...                           ...           ...           ...           ...
449      242             0.000000      0.000000      0.000000      0.000000
         243             0.000000      0.000000      0.000000      0.000000
         244             0.000000      0.000000      0.000000      0.000000
         245            30.055260     35.317950     39.292948     42.345376
         246            36.810955     35.712343     34.326048     31.067952

                     ...  ged_sb_tlag29  ged_sb_tlag30  ged_sb_tlag31  \
month_id country_id  ...
241      1           ...       0.000000       0.000000       0.000000
         2           ...       0.000000       0.000000       0.000000
         3           ...       0.000000       0.000000       0.000000
         4           ...       0.000000       0.000000       0.000000
         5           ...       0.000000       0.000000       0.000000
...                  ...            ...            ...            ...
449      242         ...       0.000000       0.000000       0.000000
         243         ...       0.000000       0.000000       0.000000
         244         ...       0.000000       0.000000       0.000000
         245         ...      41.382015      40.441032      40.762616
         246         ...      45.191726      51.938138      48.300552

                     ged_sb_tlag32  ged_sb_tlag33  ged_sb_tlag34  \
month_id country_id
241      1                0.000000       0.000000       0.000000
         2                0.000000       0.000000       0.000000
         3                0.000000       0.000000       0.000000
         4                0.000000       0.000000       0.000000
         5                0.000000       0.000000       0.000000
...                            ...            ...            ...
449      242              0.000000       0.000000       0.000000
         243              0.000000       0.000000       0.000000
         244              0.000000       0.000000       0.000000
         245             39.427615      35.515592      37.220340
         246             50.222364      45.029408      39.941811

                     ged_sb_tlag35  ged_sb_tlag36  country_id  month_id
month_id country_id
241      1                0.000000       0.000000           1       241
         2                0.000000       0.000000           2       241
         3                0.000000       0.000000           3       241
         4                0.000000       0.000000           4       241
         5                0.000000       0.000000           5       241
...                            ...            ...         ...       ...
449      242              0.000000       0.000000         242       449
         243              0.000000       0.000000         243       449
         244              0.000000       0.000000         244       449
         245             40.439216      37.818177         245       449
         246             34.072514      30.740310         246       449

[39173 rows x 43 columns]

In [14]:
independent_variable = ['wdi_ny_gdp_mktp_kd','wdi_sp_pop_totl','country_id','month_id']
dependent_variable = 'wdi_sh_dyn_mort_fe'
data_without_shocks.ols_regression(independent_variable,dependent_variable,'Fixed Effect')

['wdi_ny_gdp_mktp_kd', 'wdi_sp_pop_totl', 'country_id', 'month_id', 'country_2', 'country_3', 'country_4', 'country_5', 'country_6', 'country_7', 'country_8', 'country_9', 'country_10', 'country_11', 'country_12', 'country_13', 'country_14', 'country_16', 'country_17', 'country_18', 'country_19', 'country_20', 'country_21', 'country_22', 'country_23', 'country_24', 'country_25', 'country_26', 'country_27', 'country_28', 'country_29', 'country_30', 'country_31', 'country_32', 'country_33', 'country_34', 'country_35', 'country_36', 'country_37', 'country_38', 'country_39', 'country_40', 'country_41', 'country_42', 'country_43', 'country_45', 'country_46', 'country_47', 'country_48', 'country_49', 'country_50', 'country_52', 'country_53', 'country_54', 'country_55', 'country_56', 'country_57', 'country_58', 'country_59', 'country_60', 'country_62', 'country_63', 'country_64', 'country_65', 'country_66', 'country_67', 'country_69', 'country_70', 'country_73', 'country_74', 'country_76', 'country_77', 'country_78', 'country_79', 'country_80', 'country_81', 'country_82', 'country_83', 'country_84', 'country_85', 'country_86', 'country_87', 'country_89', 'country_90', 'country_92', 'country_93', 'country_94', 'country_96', 'country_97', 'country_98', 'country_99', 'country_100', 'country_101', 'country_102', 'country_103', 'country_104', 'country_105', 'country_107', 'country_108', 'country_109', 'country_110', 'country_111', 'country_112', 'country_113', 'country_114', 'country_115', 'country_116', 'country_117', 'country_118', 'country_119', 'country_120', 'country_121', 'country_122', 'country_123', 'country_124', 'country_125', 'country_126', 'country_127', 'country_128', 'country_129', 'country_130', 'country_131', 'country_132', 'country_133', 'country_134', 'country_135', 'country_136', 'country_137', 'country_138', 'country_139', 'country_140', 'country_142', 'country_143', 'country_144', 'country_145', 'country_146', 'country_147', 'country_148', 'country_149', 'country_150', 'country_151', 'country_152', 'country_153', 'country_154', 'country_155', 'country_156', 'country_157', 'country_158', 'country_159', 'country_160', 'country_161', 'country_162', 'country_163', 'country_164', 'country_165', 'country_166', 'country_167', 'country_168', 'country_169', 'country_170', 'country_171', 'country_172', 'country_173', 'country_174', 'country_176', 'country_177', 'country_178', 'country_179', 'country_180', 'country_181', 'country_182', 'country_183', 'country_184', 'country_199', 'country_205', 'country_206', 'country_208', 'country_209', 'country_213', 'country_214', 'country_218', 'country_220', 'country_222', 'country_223', 'country_230', 'country_231', 'country_233', 'country_234', 'country_235', 'country_237', 'country_242', 'country_243', 'country_244', 'country_245', 'country_246']
month_id  country_id
252       1             3.732896
          2             3.349904
          3             3.277145
          4             2.990720
          5             3.005683
                          ...
444       242           3.968403
          243           3.054001
          244           3.777348
          245           4.085976
          246           4.552824
Name: wdi_sh_dyn_mort_fe, Length: 3188, dtype: float64

In [15]:
data_without_shocks.prediction(independent_variable, dependent_variable,'Fixed Effect')

['wdi_ny_gdp_mktp_kd', 'wdi_sp_pop_totl', 'country_id', 'month_id', 'country_2', 'country_3', 'country_4', 'country_5', 'country_6', 'country_7', 'country_8', 'country_9', 'country_10', 'country_11', 'country_12', 'country_13', 'country_14', 'country_16', 'country_17', 'country_18', 'country_19', 'country_20', 'country_21', 'country_22', 'country_23', 'country_24', 'country_25', 'country_26', 'country_27', 'country_28', 'country_29', 'country_30', 'country_31', 'country_32', 'country_33', 'country_34', 'country_35', 'country_36', 'country_37', 'country_38', 'country_39', 'country_40', 'country_41', 'country_42', 'country_43', 'country_45', 'country_46', 'country_47', 'country_48', 'country_49', 'country_50', 'country_52', 'country_53', 'country_54', 'country_55', 'country_56', 'country_57', 'country_58', 'country_59', 'country_60', 'country_62', 'country_63', 'country_64', 'country_65', 'country_66', 'country_67', 'country_69', 'country_70', 'country_73', 'country_74', 'country_76', 'country_77', 'country_78', 'country_79', 'country_80', 'country_81', 'country_82', 'country_83', 'country_84', 'country_85', 'country_86', 'country_87', 'country_89', 'country_90', 'country_92', 'country_93', 'country_94', 'country_96', 'country_97', 'country_98', 'country_99', 'country_100', 'country_101', 'country_102', 'country_103', 'country_104', 'country_105', 'country_107', 'country_108', 'country_109', 'country_110', 'country_111', 'country_112', 'country_113', 'country_114', 'country_115', 'country_116', 'country_117', 'country_118', 'country_119', 'country_120', 'country_121', 'country_122', 'country_123', 'country_124', 'country_125', 'country_126', 'country_127', 'country_128', 'country_129', 'country_130', 'country_131', 'country_132', 'country_133', 'country_134', 'country_135', 'country_136', 'country_137', 'country_138', 'country_139', 'country_140', 'country_142', 'country_143', 'country_144', 'country_145', 'country_146', 'country_147', 'country_148', 'country_149', 'country_150', 'country_151', 'country_152', 'country_153', 'country_154', 'country_155', 'country_156', 'country_157', 'country_158', 'country_159', 'country_160', 'country_161', 'country_162', 'country_163', 'country_164', 'country_165', 'country_166', 'country_167', 'country_168', 'country_169', 'country_170', 'country_171', 'country_172', 'country_173', 'country_174', 'country_176', 'country_177', 'country_178', 'country_179', 'country_180', 'country_181', 'country_182', 'country_183', 'country_184', 'country_199', 'country_205', 'country_206', 'country_208', 'country_209', 'country_213', 'country_214', 'country_218', 'country_220', 'country_222', 'country_223', 'country_230', 'country_231', 'country_233', 'country_234', 'country_235', 'country_237', 'country_242', 'country_243', 'country_244', 'country_245', 'country_246']

In [16]:
data_without_shocks.predictions

{'Fixed Effect': month_id  country_id
 241       1             3.824751
           2             3.444025
           3             3.490317
           4             3.051338
           5             3.240279
                           ...
 449       242           3.984927
           243           3.125409
           244           3.796523
           245           4.090926
           246           4.547968
 Length: 39173, dtype: float64}

In [17]:
data_without_shocks.results

{'Fixed Effect': <class 'statsmodels.iolib.summary.Summary'>
 """
                             OLS Regression Results
 ==============================================================================
 Dep. Variable:     wdi_sh_dyn_mort_fe   R-squared:                       0.991
 Model:                            OLS   Adj. R-squared:                  0.990
 Method:                 Least Squares   F-statistic:                     1705.
 Date:                Tue, 05 Dec 2023   Prob (F-statistic):               0.00
 Time:                        11:11:53   Log-Likelihood:                 2781.4
 No. Observations:                3188   AIC:                            -5173.
 Df Residuals:                    2993   BIC:                            -3990.
 Df Model:                         194
 Covariance Type:            nonrobust
 ======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
 --------------------------------------------------------------------------------------
 wdi_ny_gdp_mktp_kd    -0.3955      0.015    -25.812      0.000      -0.426      -0.365
 wdi_sp_pop_totl        0.1314      0.028      4.770      0.000       0.077       0.185
 country_id            11.0996      0.384     28.916      0.000      10.347      11.852
 month_id              -0.0018   5.66e-05    -32.278      0.000      -0.002      -0.002
 country_2            -11.4137      0.392    -29.120      0.000     -12.182     -10.645
 country_3            -22.0026      0.746    -29.480      0.000     -23.466     -20.539
 country_4            -43.1413      1.308    -32.992      0.000     -45.705     -40.577
 country_5            -45.4618      1.573    -28.905      0.000     -48.546     -42.378
 country_6            -57.0624      1.971    -28.947      0.000     -60.928     -53.197
 country_7            -66.0437      2.200    -30.023      0.000     -70.357     -61.730
 country_8            -77.0331      2.630    -29.286      0.000     -82.191     -71.876
 country_9            -87.6633      2.932    -29.899      0.000     -93.412     -81.914
 country_10          -100.0774      3.374    -29.665      0.000    -106.692     -93.463
 country_11          -110.7685      3.767    -29.408      0.000    -118.154    -103.383
 country_12          -121.8629      4.174    -29.194      0.000    -130.048    -113.678
 country_13          -132.7042      4.518    -29.371      0.000    -141.563    -123.845
 country_14          -144.6082      4.948    -29.225      0.000    -154.310    -134.906
 country_16          -165.8271      5.690    -29.143      0.000    -176.984    -154.670
 country_17          -176.5830      6.015    -29.355      0.000    -188.378    -164.788
 country_18          -189.2966      6.543    -28.932      0.000    -202.126    -176.468
 country_19          -200.7041      6.967    -28.807      0.000    -214.365    -187.043
 country_20          -212.0188      7.338    -28.891      0.000    -226.408    -197.630
 country_21          -222.7054      7.710    -28.884      0.000    -237.824    -207.587
 country_22          -234.0617      8.108    -28.868      0.000    -249.959    -218.164
 country_23          -243.4957      8.383    -29.046      0.000    -259.933    -227.059
 country_24          -254.2798      8.777    -28.971      0.000    -271.489    -237.070
 country_25          -266.7784      9.182    -29.055      0.000    -284.782    -248.775
 country_26          -277.7337      9.602    -28.924      0.000    -296.561    -258.906
 country_27          -289.3645     10.003    -28.929      0.000    -308.977    -269.752
 country_28          -299.2326     10.265    -29.151      0.000    -319.360    -279.105
 country_29          -311.2087     10.700    -29.084      0.000    -332.190    -290.228
 country_30          -322.6732     11.065    -29.162      0.000    -344.369    -300.977
 country_31          -333.0955     11.468    -29.045      0.000    -355.582    -310.609
 country_32          -344.1240     11.849    -29.043      0.000    -367.357    -320.891
 country_33          -355.4146     12.243    -29.031      0.000    -379.420    -331.410
 country_34          -366.1677     12.626    -29.002      0.000    -390.924    -341.412
 country_35          -378.6580     13.099    -28.908      0.000    -404.342    -352.974
 country_36          -389.3840     13.496    -28.852      0.000    -415.846    -362.922
 country_37          -401.1270     13.825    -29.014      0.000    -428.235    -374.019
 country_38          -411.1703     14.144    -29.071      0.000    -438.903    -383.438
 country_39          -421.5211     14.463    -29.145      0.000    -449.879    -393.163
 country_40          -433.5581     14.987    -28.930      0.000    -462.943    -404.173
 country_41          -442.4367     15.282    -28.951      0.000    -472.402    -412.472
 country_42          -453.9954     15.663    -28.984      0.000    -484.708    -423.283
 country_43          -465.3980     16.099    -28.908      0.000    -496.964    -433.832
 country_45          -489.0646     16.816    -29.083      0.000    -522.037    -456.093
 country_46          -499.7081     17.162    -29.117      0.000    -533.358    -466.058
 country_47          -509.3390     17.601    -28.938      0.000    -543.850    -474.828
 country_48          -520.5020     17.994    -28.927      0.000    -555.783    -485.221
 country_49          -532.2236     18.426    -28.885      0.000    -568.352    -496.095
 country_50          -542.4859     18.752    -28.929      0.000    -579.254    -505.718
 country_52          -565.1733     19.521    -28.953      0.000    -603.449    -526.898
 country_53          -575.9357     19.927    -28.902      0.000    -615.008    -536.863
 country_54          -588.0533     20.339    -28.913      0.000    -627.933    -548.173
 country_55          -598.8173     20.731    -28.885      0.000    -639.466    -558.169
 country_56          -610.4072     21.094    -28.937      0.000    -651.767    -569.047
 country_57          -620.4361     21.400    -28.993      0.000    -662.395    -578.477
 country_58          -632.7623     21.855    -28.953      0.000    -675.615    -589.910
 country_59          -642.2193     22.177    -28.959      0.000    -685.703    -598.735
 country_60          -653.9973     22.559    -28.990      0.000    -698.231    -609.764
 country_62          -677.0749     23.364    -28.980      0.000    -722.886    -631.264
 country_63          -687.6743     23.722    -28.989      0.000    -734.187    -641.162
 country_64          -699.8155     24.119    -29.015      0.000    -747.106    -652.525
 country_65          -709.8882     24.435    -29.052      0.000    -757.799    -661.977
 country_66          -722.0566     24.873    -29.029      0.000    -770.827    -673.286
 country_67          -731.8041     25.243    -28.990      0.000    -781.300    -682.308
 country_69          -753.3104     26.034    -28.935      0.000    -804.357    -702.264
 country_70          -765.0215     26.462    -28.910      0.000    -816.907    -713.136
 country_73          -799.1495     27.576    -28.980      0.000    -853.219    -745.080
 country_74          -809.1086     27.974    -28.924      0.000    -863.959    -754.258
 country_76          -830.9283     28.779    -28.873      0.000    -887.357    -774.500
 country_77          -844.0459     29.233    -28.873      0.000    -901.365    -786.727
 country_78          -853.3529     29.502    -28.925      0.000    -911.199    -795.507
 country_79          -863.2970     29.817    -28.953      0.000    -921.761    -804.833
 country_80          -877.6277     30.372    -28.895      0.000    -937.181    -818.075
 country_81          -887.3666     30.675    -28.928      0.000    -947.513    -827.221
 country_82          -899.7198     31.064    -28.964      0.000    -960.628    -838.812
 country_83          -911.3184     31.439    -28.986      0.000    -972.964    -849.673
 country_84          -922.1233     31.812    -28.986      0.000    -984.500    -859.747
 country_85          -932.4154     32.124    -29.026      0.000    -995.402    -869.428
 country_86          -944.3024     32.606    -28.961      0.000   -1008.235    -880.370
 country_87          -955.7087     33.018    -28.945      0.000   -1020.449    -890.969
 country_89          -977.1895     33.723    -28.977      0.000   -1043.312    -911.067
 country_90          -989.2435     34.146    -28.971      0.000   -1056.196    -922.291
 country_92         -1010.5690     34.897    -28.959      0.000   -1078.993    -942.145
 country_93         -1021.7801     35.240    -28.995      0.000   -1090.876    -952.684
 country_94         -1032.5488     35.650    -28.963      0.000   -1102.450    -962.647
 country_96         -1053.5389     36.352    -28.982      0.000   -1124.815    -982.262
 country_97         -1065.9844     36.776    -28.986      0.000   -1138.094    -993.875
 country_98         -1077.5571     37.162    -28.996      0.000   -1150.423   -1004.691
 country_99         -1088.2016     37.553    -28.978      0.000   -1161.834   -1014.569
 country_100        -1099.4112     37.933    -28.983      0.000   -1173.789   -1025.033
 country_101        -1110.2427     38.285    -28.999      0.000   -1185.311   -1035.175
 country_102        -1121.6379     38.715    -28.971      0.000   -1197.549   -1045.727
 country_103        -1133.4154     39.120    -28.973      0.000   -1210.121   -1056.710
 country_104        -1143.6261     39.458    -28.984      0.000   -1220.993   -1066.259
 country_105        -1154.3254     39.798    -29.005      0.000   -1232.360   -1076.291
 country_107        -1177.6369     40.678    -28.950      0.000   -1257.397   -1097.877
 country_108        -1187.8325     40.982    -28.984      0.000   -1268.188   -1107.477
 country_109        -1198.8935     41.380    -28.973      0.000   -1280.030   -1117.757
 country_110        -1210.8130     41.780    -28.981      0.000   -1292.733   -1128.893
 country_111        -1222.1122     42.204    -28.958      0.000   -1304.863   -1139.361
 country_112        -1232.8448     42.545    -28.977      0.000   -1316.266   -1149.424
 country_113        -1243.9176     42.962    -28.954      0.000   -1328.155   -1159.680
 country_114        -1255.0936     43.336    -28.962      0.000   -1340.065   -1170.122
 country_115        -1265.9788     43.735    -28.947      0.000   -1351.732   -1180.226
 country_116        -1276.3529     44.060    -28.968      0.000   -1362.745   -1189.961
 country_117        -1287.8097     44.433    -28.983      0.000   -1374.933   -1200.687
 country_118        -1299.3715     44.928    -28.921      0.000   -1387.465   -1211.278
 country_119        -1309.8597     45.253    -28.945      0.000   -1398.589   -1221.130
 country_120        -1319.6365     45.632    -28.919      0.000   -1409.111   -1230.162
 country_121        -1332.2839     45.988    -28.971      0.000   -1422.454   -1242.113
 country_122        -1342.4338     46.403    -28.930      0.000   -1433.419   -1251.449
 country_123        -1353.7227     46.750    -28.957      0.000   -1445.388   -1262.057
 country_124        -1364.0231     47.137    -28.937      0.000   -1456.448   -1271.599
 country_125        -1376.8156     47.571    -28.943      0.000   -1470.090   -1283.541
 country_126        -1386.7742     47.925    -28.936      0.000   -1480.744   -1292.804
 country_127        -1399.0965     48.349    -28.938      0.000   -1493.897   -1304.296
 country_128        -1408.8606     48.638    -28.966      0.000   -1504.228   -1313.493
 country_129        -1420.7773     49.089    -28.943      0.000   -1517.030   -1324.525
 country_130        -1431.9445     49.487    -28.936      0.000   -1528.977   -1334.912
 country_131        -1442.3558     49.805    -28.960      0.000   -1540.011   -1344.701
 country_132        -1453.9439     50.219    -28.952      0.000   -1552.411   -1355.476
 country_133        -1464.1504     50.600    -28.936      0.000   -1563.365   -1364.936
 country_134        -1476.5165     51.019    -28.941      0.000   -1576.551   -1376.482
 country_135        -1486.8202     51.365    -28.946      0.000   -1587.535   -1386.106
 country_136        -1496.6533     51.697    -28.950      0.000   -1598.019   -1395.287
 country_137        -1509.4349     52.164    -28.936      0.000   -1611.717   -1407.153
 country_138        -1519.4974     52.473    -28.958      0.000   -1622.384   -1416.611
 country_139        -1531.8708     52.984    -28.912      0.000   -1635.759   -1427.982
 country_140        -1543.4888     53.361    -28.926      0.000   -1648.116   -1438.862
 country_142        -1565.0280     53.984    -28.990      0.000   -1670.878   -1459.178
 country_143        -1585.4630     54.613    -29.031      0.000   -1692.547   -1478.379
 country_144        -1588.2543     54.977    -28.889      0.000   -1696.051   -1480.458
 country_145        -1597.4870     55.164    -28.959      0.000   -1705.651   -1489.323
 country_146        -1609.5603     55.546    -28.977      0.000   -1718.473   -1500.648
 country_147        -1620.1417     55.986    -28.938      0.000   -1729.917   -1510.366
 country_148        -1630.8816     56.386    -28.923      0.000   -1741.441   -1520.322
 country_149        -1641.7673     56.724    -28.943      0.000   -1752.989   -1530.546
 country_150        -1653.5473     57.086    -28.966      0.000   -1765.479   -1541.616
 country_151        -1664.5755     57.471    -28.964      0.000   -1777.261   -1551.890
 country_152        -1676.8542     58.033    -28.895      0.000   -1790.643   -1563.066
 country_153        -1687.9609     58.400    -28.904      0.000   -1802.468   -1573.453
 country_154        -1697.3886     58.707    -28.913      0.000   -1812.498   -1582.279
 country_155        -1708.7758     59.077    -28.925      0.000   -1824.611   -1592.940
 country_156        -1719.8187     59.453    -28.927      0.000   -1836.391   -1603.246
 country_157        -1730.4536     59.825    -28.925      0.000   -1847.755   -1613.152
 country_158        -1741.6134     60.207    -28.927      0.000   -1859.666   -1623.561
 country_159        -1753.5500     60.666    -28.905      0.000   -1872.501   -1634.599
 country_160        -1764.2369     61.023    -28.911      0.000   -1883.888   -1644.586
 country_161        -1775.3142     61.367    -28.929      0.000   -1895.640   -1654.989
 country_162        -1785.9202     61.737    -28.928      0.000   -1906.972   -1664.869
 country_163        -1796.4856     62.081    -28.938      0.000   -1918.212   -1674.759
 country_164        -1808.3983     62.565    -28.904      0.000   -1931.073   -1685.723
 country_165        -1818.3887     62.876    -28.920      0.000   -1941.673   -1695.104
 country_166        -1830.6054     63.302    -28.918      0.000   -1954.726   -1706.485
 country_167        -1841.1641     63.632    -28.935      0.000   -1965.930   -1716.398
 country_168        -1854.0397     64.103    -28.923      0.000   -1979.730   -1728.350
 country_169        -1863.8152     64.468    -28.911      0.000   -1990.222   -1737.408
 country_170        -1875.1861     64.851    -28.916      0.000   -2002.342   -1748.030
 country_171        -1887.3255     65.200    -28.947      0.000   -2015.167   -1759.484
 country_172        -1897.3355     65.577    -28.933      0.000   -2025.917   -1768.754
 country_173        -1909.6759     66.010    -28.930      0.000   -2039.105   -1780.246
 country_174        -1921.3267     66.456    -28.911      0.000   -2051.630   -1791.023
 country_176        -1942.1742     67.180    -28.910      0.000   -2073.898   -1810.451
 country_177        -1953.5377     67.460    -28.958      0.000   -2085.811   -1821.264
 country_178        -1965.8109     68.052    -28.887      0.000   -2099.243   -1832.378
 country_179        -1974.9642     68.279    -28.925      0.000   -2108.843   -1841.085
 country_180        -1987.5950     68.729    -28.919      0.000   -2122.355   -1852.835
 country_181        -1999.3423     69.206    -28.890      0.000   -2135.038   -1863.646
 country_182        -2009.8153     69.514    -28.913      0.000   -2146.114   -1873.516
 country_183        -2019.9707     69.754    -28.958      0.000   -2156.742   -1883.199
 country_184        -2031.1039     70.117    -28.967      0.000   -2168.586   -1893.622
 country_199        -2196.3863     75.821    -28.968      0.000   -2345.054   -2047.719
 country_205        -2264.5690     78.216    -28.953      0.000   -2417.933   -2111.206
 country_206        -2276.2765     78.631    -28.949      0.000   -2430.452   -2122.101
 country_208        -2296.3367     79.324    -28.949      0.000   -2451.871   -2140.802
 country_209        -2307.4527     79.707    -28.949      0.000   -2463.738   -2151.167
 country_213        -2352.8895     81.323    -28.933      0.000   -2512.344   -2193.435
 country_214        -2362.8676     81.712    -28.917      0.000   -2523.086   -2202.649
 country_218        -2409.0757     83.229    -28.945      0.000   -2572.267   -2245.884
 country_220        -2430.8610     83.996    -28.940      0.000   -2595.557   -2266.165
 country_222        -2452.0642     84.721    -28.943      0.000   -2618.182   -2285.946
 country_223        -2462.0786     85.047    -28.950      0.000   -2628.835   -2295.322
 country_230        -2542.6601     87.848    -28.944      0.000   -2714.909   -2370.411
 country_231        -2554.4426     88.294    -28.931      0.000   -2727.566   -2381.320
 country_233        -2575.9353     89.002    -28.942      0.000   -2750.447   -2401.423
 country_234        -2585.1636     89.275    -28.957      0.000   -2760.210   -2410.117
 country_235        -2596.2461     89.748    -28.928      0.000   -2772.219   -2420.273
 country_237        -2618.4127     90.505    -28.931      0.000   -2795.870   -2440.955
 country_242        -2673.8759     92.426    -28.930      0.000   -2855.101   -2492.651
 country_243        -2685.4707     92.809    -28.936      0.000   -2867.446   -2503.496
 country_244        -2696.7510     93.252    -28.919      0.000   -2879.596   -2513.906
 country_245        -2706.8311     93.576    -28.927      0.000   -2890.310   -2523.352
 country_246        -2718.0882     93.994    -28.918      0.000   -2902.388   -2533.789
 ==============================================================================
 Omnibus:                      482.324   Durbin-Watson:                   1.730
 Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2839.930
 Skew:                           0.579   Prob(JB):                         0.00
 Kurtosis:                       7.476   Cond. No.                     1.34e+08
 ==============================================================================

 Notes:
 [1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
 [2] The condition number is large, 1.34e+08. This might indicate that there are
 strong multicollinearity or other numerical problems.
 """}

In [18]:
data_with_shocks = MonthToAnnualRegression(df)

In [19]:
independent_variable = ['wdi_ny_gdp_mktp_kd', 'wdi_sp_pop_totl', 'ged_sb_nolag', 'ged_sb_tlag1', 'ged_sb_tlag2', 'ged_sb_tlag3', 'ged_sb_tlag4', 'ged_sb_tlag5', 'ged_sb_tlag6', 'ged_sb_tlag7', 'ged_sb_tlag8', 'ged_sb_tlag9', 'ged_sb_tlag10', 'ged_sb_tlag11', 'ged_sb_tlag12', 'ged_sb_tlag13', 'ged_sb_tlag14', 'ged_sb_tlag15', 'ged_sb_tlag16', 'ged_sb_tlag17',
                        'ged_sb_tlag18', 'ged_sb_tlag19', 'ged_sb_tlag20', 'ged_sb_tlag21', 'ged_sb_tlag22', 'ged_sb_tlag23', 'ged_sb_tlag24', 'ged_sb_tlag25', 'ged_sb_tlag26', 'ged_sb_tlag27', 'ged_sb_tlag28', 'ged_sb_tlag29', 'ged_sb_tlag30', 'ged_sb_tlag31', 'ged_sb_tlag32', 'ged_sb_tlag33', 'ged_sb_tlag34', 'ged_sb_tlag35', 'ged_sb_tlag36', 'country_id', 'month_id']
dependent_variable = 'wdi_sh_dyn_mort_fe'
data_with_shocks.ols_regression(independent_variable, dependent_variable,'Fixed Effect')

['wdi_ny_gdp_mktp_kd', 'wdi_sp_pop_totl', 'ged_sb_nolag', 'ged_sb_tlag1', 'ged_sb_tlag2', 'ged_sb_tlag3', 'ged_sb_tlag4', 'ged_sb_tlag5', 'ged_sb_tlag6', 'ged_sb_tlag7', 'ged_sb_tlag8', 'ged_sb_tlag9', 'ged_sb_tlag10', 'ged_sb_tlag11', 'ged_sb_tlag12', 'ged_sb_tlag13', 'ged_sb_tlag14', 'ged_sb_tlag15', 'ged_sb_tlag16', 'ged_sb_tlag17', 'ged_sb_tlag18', 'ged_sb_tlag19', 'ged_sb_tlag20', 'ged_sb_tlag21', 'ged_sb_tlag22', 'ged_sb_tlag23', 'ged_sb_tlag24', 'ged_sb_tlag25', 'ged_sb_tlag26', 'ged_sb_tlag27', 'ged_sb_tlag28', 'ged_sb_tlag29', 'ged_sb_tlag30', 'ged_sb_tlag31', 'ged_sb_tlag32', 'ged_sb_tlag33', 'ged_sb_tlag34', 'ged_sb_tlag35', 'ged_sb_tlag36', 'country_id', 'month_id', 'country_2', 'country_3', 'country_4', 'country_5', 'country_6', 'country_7', 'country_8', 'country_9', 'country_10', 'country_11', 'country_12', 'country_13', 'country_14', 'country_16', 'country_17', 'country_18', 'country_19', 'country_20', 'country_21', 'country_22', 'country_23', 'country_24', 'country_25', 'country_26', 'country_27', 'country_28', 'country_29', 'country_30', 'country_31', 'country_32', 'country_33', 'country_34', 'country_35', 'country_36', 'country_37', 'country_38', 'country_39', 'country_40', 'country_41', 'country_42', 'country_43', 'country_45', 'country_46', 'country_47', 'country_48', 'country_49', 'country_50', 'country_52', 'country_53', 'country_54', 'country_55', 'country_56', 'country_57', 'country_58', 'country_59', 'country_60', 'country_62', 'country_63', 'country_64', 'country_65', 'country_66', 'country_67', 'country_69', 'country_70', 'country_73', 'country_74', 'country_76', 'country_77', 'country_78', 'country_79', 'country_80', 'country_81', 'country_82', 'country_83', 'country_84', 'country_85', 'country_86', 'country_87', 'country_89', 'country_90', 'country_92', 'country_93', 'country_94', 'country_96', 'country_97', 'country_98', 'country_99', 'country_100', 'country_101', 'country_102', 'country_103', 'country_104', 'country_105', 'country_107', 'country_108', 'country_109', 'country_110', 'country_111', 'country_112', 'country_113', 'country_114', 'country_115', 'country_116', 'country_117', 'country_118', 'country_119', 'country_120', 'country_121', 'country_122', 'country_123', 'country_124', 'country_125', 'country_126', 'country_127', 'country_128', 'country_129', 'country_130', 'country_131', 'country_132', 'country_133', 'country_134', 'country_135', 'country_136', 'country_137', 'country_138', 'country_139', 'country_140', 'country_142', 'country_143', 'country_144', 'country_145', 'country_146', 'country_147', 'country_148', 'country_149', 'country_150', 'country_151', 'country_152', 'country_153', 'country_154', 'country_155', 'country_156', 'country_157', 'country_158', 'country_159', 'country_160', 'country_161', 'country_162', 'country_163', 'country_164', 'country_165', 'country_166', 'country_167', 'country_168', 'country_169', 'country_170', 'country_171', 'country_172', 'country_173', 'country_174', 'country_176', 'country_177', 'country_178', 'country_179', 'country_180', 'country_181', 'country_182', 'country_183', 'country_184', 'country_199', 'country_205', 'country_206', 'country_208', 'country_209', 'country_213', 'country_214', 'country_218', 'country_220', 'country_222', 'country_223', 'country_230', 'country_231', 'country_233', 'country_234', 'country_235', 'country_237', 'country_242', 'country_243', 'country_244', 'country_245', 'country_246']
month_id  country_id
252       1             3.732896
          2             3.349904
          3             3.277145
          4             2.990720
          5             3.005683
                          ...
444       242           3.968403
          243           3.054001
          244           3.777348
          245           4.085976
          246           4.552824
Name: wdi_sh_dyn_mort_fe, Length: 3188, dtype: float64

In [20]:
data_with_shocks.results

{'Fixed Effect': <class 'statsmodels.iolib.summary.Summary'>
 """
                             OLS Regression Results
 ==============================================================================
 Dep. Variable:     wdi_sh_dyn_mort_fe   R-squared:                       0.991
 Model:                            OLS   Adj. R-squared:                  0.991
 Method:                 Least Squares   F-statistic:                     1476.
 Date:                Tue, 05 Dec 2023   Prob (F-statistic):               0.00
 Time:                        11:11:53   Log-Likelihood:                 2849.6
 No. Observations:                3188   AIC:                            -5235.
 Df Residuals:                    2956   BIC:                            -3828.
 Df Model:                         231
 Covariance Type:            nonrobust
 ======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
 --------------------------------------------------------------------------------------
 wdi_ny_gdp_mktp_kd    -0.3650      0.015    -23.650      0.000      -0.395      -0.335
 wdi_sp_pop_totl        0.1121      0.027      4.101      0.000       0.058       0.166
 ged_sb_nolag           0.0045      0.004      1.256      0.209      -0.003       0.012
 ged_sb_tlag1          -0.0003      0.004     -0.069      0.945      -0.007       0.007
 ged_sb_tlag2          -0.0018      0.006     -0.304      0.761      -0.013       0.010
 ged_sb_tlag3           0.0012      0.005      0.227      0.820      -0.009       0.012
 ged_sb_tlag4           0.0044      0.005      0.858      0.391      -0.006       0.014
 ged_sb_tlag5          -0.0039      0.006     -0.691      0.490      -0.015       0.007
 ged_sb_tlag6          -0.0014      0.006     -0.255      0.799      -0.012       0.009
 ged_sb_tlag7           0.0084      0.006      1.415      0.157      -0.003       0.020
 ged_sb_tlag8          -0.0081      0.005     -1.537      0.124      -0.019       0.002
 ged_sb_tlag9           0.0048      0.005      0.879      0.380      -0.006       0.016
 ged_sb_tlag10         -0.0006      0.006     -0.099      0.921      -0.012       0.011
 ged_sb_tlag11         -0.0046      0.006     -0.748      0.454      -0.017       0.007
 ged_sb_tlag12          0.0042      0.006      0.738      0.461      -0.007       0.015
 ged_sb_tlag13         -0.0070      0.005     -1.272      0.204      -0.018       0.004
 ged_sb_tlag14          0.0066      0.006      1.021      0.307      -0.006       0.019
 ged_sb_tlag15         -0.0033      0.006     -0.531      0.596      -0.016       0.009
 ged_sb_tlag16          0.0033      0.006      0.568      0.570      -0.008       0.015
 ged_sb_tlag17         -0.0007      0.006     -0.113      0.910      -0.013       0.012
 ged_sb_tlag18          0.0031      0.006      0.489      0.625      -0.009       0.016
 ged_sb_tlag19          0.0016      0.007      0.236      0.813      -0.012       0.015
 ged_sb_tlag20         -0.0072      0.006     -1.142      0.253      -0.020       0.005
 ged_sb_tlag21          0.0070      0.007      1.065      0.287      -0.006       0.020
 ged_sb_tlag22         -0.0012      0.007     -0.181      0.857      -0.014       0.012
 ged_sb_tlag23         -0.0103      0.007     -1.475      0.140      -0.024       0.003
 ged_sb_tlag24          0.0078      0.006      1.299      0.194      -0.004       0.020
 ged_sb_tlag25         -0.0036      0.005     -0.728      0.467      -0.013       0.006
 ged_sb_tlag26          0.0019      0.005      0.349      0.727      -0.009       0.012
 ged_sb_tlag27         -0.0028      0.005     -0.527      0.598      -0.013       0.008
 ged_sb_tlag28          0.0024      0.005      0.473      0.636      -0.008       0.012
 ged_sb_tlag29          0.0033      0.006      0.583      0.560      -0.008       0.014
 ged_sb_tlag30          0.0009      0.006      0.168      0.866      -0.010       0.012
 ged_sb_tlag31          0.0008      0.006      0.135      0.892      -0.010       0.012
 ged_sb_tlag32         -0.0047      0.005     -0.923      0.356      -0.015       0.005
 ged_sb_tlag33          0.0044      0.005      0.832      0.406      -0.006       0.015
 ged_sb_tlag34          0.0014      0.006      0.246      0.806      -0.010       0.012
 ged_sb_tlag35         -0.0136      0.006     -2.301      0.021      -0.025      -0.002
 ged_sb_tlag36          0.0101      0.004      2.831      0.005       0.003       0.017
 country_id            10.7202      0.381     28.125      0.000       9.973      11.468
 month_id              -0.0019   5.64e-05    -33.825      0.000      -0.002      -0.002
 country_2            -11.0466      0.389    -28.397      0.000     -11.809     -10.284
 country_3            -21.2868      0.741    -28.730      0.000     -22.740     -19.834
 country_4            -41.2647      1.305    -31.625      0.000     -43.823     -38.706
 country_5            -43.9224      1.562    -28.127      0.000     -46.984     -40.860
 country_6            -55.1376      1.957    -28.171      0.000     -58.975     -51.300
 country_7            -63.8406      2.185    -29.223      0.000     -68.124     -59.557
 country_8            -74.3856      2.612    -28.475      0.000     -79.508     -69.263
 country_9            -84.7059      2.912    -29.089      0.000     -90.416     -78.996
 country_10           -96.7236      3.350    -28.872      0.000    -103.292     -90.155
 country_11          -107.0110      3.740    -28.609      0.000    -114.345     -99.677
 country_12          -117.7123      4.145    -28.397      0.000    -125.840    -109.585
 country_13          -128.2077      4.487    -28.575      0.000    -137.005    -119.410
 country_14          -139.7211      4.913    -28.437      0.000    -149.355    -130.087
 country_16          -160.1597      5.650    -28.344      0.000    -171.239    -149.080
 country_17          -170.5886      5.974    -28.557      0.000    -182.301    -158.876
 country_18          -182.8747      6.497    -28.149      0.000    -195.613    -170.136
 country_19          -193.8610      6.918    -28.023      0.000    -207.425    -180.297
 country_20          -204.8032      7.287    -28.107      0.000    -219.091    -190.516
 country_21          -215.1233      7.656    -28.099      0.000    -230.135    -200.112
 country_22          -226.0823      8.051    -28.082      0.000    -241.868    -210.297
 country_23          -235.1801      8.324    -28.252      0.000    -251.502    -218.858
 country_24          -245.5456      8.716    -28.172      0.000    -262.636    -228.456
 country_25          -257.6891      9.118    -28.263      0.000    -275.567    -239.812
 country_26          -268.2981      9.534    -28.140      0.000    -286.993    -249.603
 country_27          -279.4968      9.932    -28.140      0.000    -298.972    -260.022
 country_28          -289.1657     10.192    -28.371      0.000    -309.150    -269.181
 country_29          -300.6260     10.625    -28.293      0.000    -321.460    -279.792
 country_30          -311.7068     10.988    -28.369      0.000    -333.251    -290.163
 country_31          -321.7253     11.388    -28.251      0.000    -344.055    -299.396
 country_32          -332.3625     11.766    -28.247      0.000    -355.433    -309.292
 country_33          -343.2640     12.157    -28.235      0.000    -367.101    -319.426
 country_34          -353.6851     12.537    -28.211      0.000    -378.268    -329.102
 country_35          -365.7681     13.006    -28.122      0.000    -391.271    -340.265
 country_36          -376.1117     13.401    -28.067      0.000    -402.387    -349.836
 country_37          -387.5287     13.728    -28.230      0.000    -414.446    -360.612
 country_38          -397.2219     14.044    -28.284      0.000    -424.759    -369.684
 country_39          -407.2189     14.361    -28.355      0.000    -435.378    -379.059
 country_40          -418.7366     14.881    -28.138      0.000    -447.916    -389.558
 country_41          -427.2733     15.176    -28.155      0.000    -457.029    -397.517
 country_42          -438.4383     15.554    -28.188      0.000    -468.937    -407.940
 country_43          -449.4335     15.987    -28.113      0.000    -480.779    -418.088
 country_45          -472.4415     16.698    -28.293      0.000    -505.182    -439.701
 country_46          -482.7355     17.041    -28.327      0.000    -516.150    -449.321
 country_47          -491.8520     17.478    -28.141      0.000    -526.123    -457.581
 country_48          -502.6436     17.868    -28.131      0.000    -537.679    -467.608
 country_49          -513.9537     18.297    -28.090      0.000    -549.830    -478.078
 country_50          -523.8889     18.621    -28.134      0.000    -560.400    -487.377
 country_52          -545.8293     19.384    -28.159      0.000    -583.837    -507.822
 country_53          -556.1789     19.788    -28.107      0.000    -594.978    -517.380
 country_54          -567.8925     20.197    -28.118      0.000    -607.494    -528.291
 country_55          -578.3110     20.586    -28.093      0.000    -618.675    -537.947
 country_56          -589.5000     20.946    -28.143      0.000    -630.571    -548.429
 country_57          -599.2036     21.250    -28.198      0.000    -640.870    -557.537
 country_58          -611.1290     21.702    -28.160      0.000    -653.681    -568.577
 country_59          -620.3663     22.021    -28.172      0.000    -663.544    -577.188
 country_60          -631.7785     22.400    -28.204      0.000    -675.701    -587.856
 country_62          -653.9518     23.200    -28.187      0.000    -699.442    -608.462
 country_63          -664.1984     23.555    -28.197      0.000    -710.385    -618.012
 country_64          -676.0144     23.949    -28.227      0.000    -722.973    -629.056
 country_65          -685.8001     24.263    -28.265      0.000    -733.374    -638.226
 country_66          -697.4908     24.699    -28.240      0.000    -745.919    -649.062
 country_67          -706.9134     25.065    -28.203      0.000    -756.061    -657.766
 country_69          -727.5107     25.852    -28.141      0.000    -778.201    -676.821
 country_70          -738.8116     26.277    -28.117      0.000    -790.334    -687.289
 country_73          -771.8577     27.383    -28.188      0.000    -825.549    -718.166
 country_74          -781.3884     27.778    -28.129      0.000    -835.855    -726.921
 country_76          -802.4956     28.577    -28.082      0.000    -858.528    -746.463
 country_77          -815.1490     29.028    -28.081      0.000    -872.066    -758.232
 country_78          -824.1095     29.296    -28.131      0.000    -881.551    -766.668
 country_79          -833.7839     29.609    -28.160      0.000    -891.839    -775.728
 country_80          -847.5961     30.159    -28.104      0.000    -906.732    -788.460
 country_81          -856.9659     30.460    -28.134      0.000    -916.692    -797.240
 country_82          -868.9872     30.846    -28.172      0.000    -929.469    -808.506
 country_83          -880.2140     31.219    -28.195      0.000    -941.428    -819.000
 country_84          -890.6754     31.589    -28.195      0.000    -952.615    -828.736
 country_85          -900.6490     31.899    -28.235      0.000    -963.195    -838.103
 country_86          -912.0585     32.378    -28.169      0.000    -975.543    -848.574
 country_87          -923.1135     32.786    -28.156      0.000    -987.399    -858.828
 country_89          -943.8296     33.487    -28.185      0.000   -1009.489    -878.170
 country_90          -955.5175     33.907    -28.181      0.000   -1022.000    -889.035
 country_92          -976.0432     34.652    -28.167      0.000   -1043.988    -908.099
 country_93          -986.9455     34.992    -28.205      0.000   -1055.558    -918.334
 country_94          -997.3032     35.400    -28.172      0.000   -1066.715    -927.892
 country_96         -1017.6509     36.096    -28.193      0.000   -1088.427    -946.875
 country_97         -1029.6513     36.518    -28.195      0.000   -1101.255    -958.047
 country_98         -1040.8163     36.902    -28.205      0.000   -1113.172    -968.461
 country_99         -1051.1108     37.289    -28.188      0.000   -1124.226    -977.995
 country_100        -1061.9011     37.667    -28.192      0.000   -1135.758    -988.044
 country_101        -1072.3639     38.017    -28.208      0.000   -1146.906    -997.822
 country_102        -1083.3663     38.444    -28.181      0.000   -1158.746   -1007.987
 country_103        -1094.7663     38.846    -28.182      0.000   -1170.934   -1018.599
 country_104        -1104.6372     39.181    -28.193      0.000   -1181.462   -1027.813
 country_105        -1114.9740     39.519    -28.214      0.000   -1192.462   -1037.486
 country_107        -1137.5048     40.392    -28.161      0.000   -1216.705   -1058.305
 country_108        -1147.3336     40.694    -28.194      0.000   -1227.126   -1067.542
 country_109        -1158.0250     41.090    -28.183      0.000   -1238.592   -1077.458
 country_110        -1169.4802     41.487    -28.189      0.000   -1250.826   -1088.134
 country_111        -1180.4139     41.907    -28.167      0.000   -1262.584   -1098.244
 country_112        -1190.8149     42.247    -28.187      0.000   -1273.651   -1107.979
 country_113        -1201.4565     42.660    -28.163      0.000   -1285.104   -1117.809
 country_114        -1212.2567     43.032    -28.171      0.000   -1296.633   -1127.881
 country_115        -1222.7116     43.428    -28.155      0.000   -1307.864   -1137.559
 country_116        -1232.7656     43.752    -28.176      0.000   -1318.552   -1146.979
 country_117        -1243.8280     44.122    -28.191      0.000   -1330.341   -1157.315
 country_118        -1254.9847     44.613    -28.130      0.000   -1342.460   -1167.509
 country_119        -1265.1441     44.935    -28.155      0.000   -1353.251   -1177.037
 country_120        -1274.5325     45.312    -28.128      0.000   -1363.379   -1185.686
 country_121        -1286.8565     45.665    -28.181      0.000   -1376.394   -1197.319
 country_122        -1296.5340     46.078    -28.138      0.000   -1386.882   -1206.186
 country_123        -1307.4452     46.423    -28.164      0.000   -1398.469   -1216.421
 country_124        -1317.4174     46.807    -28.146      0.000   -1409.195   -1225.640
 country_125        -1329.7618     47.237    -28.151      0.000   -1422.383   -1237.141
 country_126        -1339.3794     47.589    -28.144      0.000   -1432.691   -1246.068
 country_127        -1351.3367     48.009    -28.147      0.000   -1445.472   -1257.202
 country_128        -1360.7513     48.297    -28.174      0.000   -1455.451   -1266.051
 country_129        -1372.2824     48.745    -28.152      0.000   -1467.859   -1276.705
 country_130        -1383.0800     49.140    -28.146      0.000   -1479.431   -1286.729
 country_131        -1393.1168     49.456    -28.169      0.000   -1490.088   -1296.146
 country_132        -1404.3287     49.867    -28.162      0.000   -1502.105   -1306.552
 country_133        -1414.2337     50.244    -28.147      0.000   -1512.751   -1315.716
 country_134        -1426.0244     50.661    -28.148      0.000   -1525.359   -1326.690
 country_135        -1436.0171     51.005    -28.155      0.000   -1536.026   -1336.008
 country_136        -1445.5680     51.335    -28.160      0.000   -1546.223   -1344.913
 country_137        -1457.8057     51.799    -28.144      0.000   -1559.371   -1356.240
 country_138        -1467.5338     52.105    -28.165      0.000   -1569.700   -1365.367
 country_139        -1479.4773     52.612    -28.120      0.000   -1582.638   -1376.317
 country_140        -1490.7975     52.986    -28.136      0.000   -1594.690   -1386.905
 country_142        -1511.6422     53.606    -28.199      0.000   -1616.751   -1406.533
 country_143        -1530.8446     54.236    -28.226      0.000   -1637.188   -1424.501
 country_144        -1533.9837     54.591    -28.100      0.000   -1641.024   -1426.944
 country_145        -1543.0014     54.777    -28.169      0.000   -1650.406   -1435.597
 country_146        -1554.6352     55.157    -28.186      0.000   -1662.785   -1446.486
 country_147        -1564.7268     55.594    -28.146      0.000   -1673.734   -1455.720
 country_148        -1575.0893     55.991    -28.131      0.000   -1684.875   -1465.304
 country_149        -1585.6718     56.326    -28.152      0.000   -1696.114   -1475.230
 country_150        -1597.1215     56.685    -28.175      0.000   -1708.268   -1485.975
 country_151        -1607.6818     57.068    -28.171      0.000   -1719.579   -1495.784
 country_152        -1619.5165     57.626    -28.104      0.000   -1732.507   -1506.526
 country_153        -1630.2482     57.990    -28.113      0.000   -1743.953   -1516.544
 country_154        -1639.3486     58.295    -28.122      0.000   -1753.652   -1525.046
 country_155        -1650.3584     58.663    -28.133      0.000   -1765.382   -1535.335
 country_156        -1660.9787     59.036    -28.135      0.000   -1776.735   -1545.222
 country_157        -1671.2458     59.406    -28.133      0.000   -1787.726   -1554.765
 country_158        -1682.0310     59.786    -28.134      0.000   -1799.257   -1564.805
 country_159        -1693.5560     60.240    -28.113      0.000   -1811.673   -1575.439
 country_160        -1703.8670     60.595    -28.119      0.000   -1822.680   -1585.054
 country_161        -1714.5531     60.937    -28.136      0.000   -1834.037   -1595.069
 country_162        -1724.7986     61.305    -28.135      0.000   -1845.003   -1604.594
 country_163        -1735.0674     61.646    -28.146      0.000   -1855.941   -1614.193
 country_164        -1746.5385     62.126    -28.113      0.000   -1868.354   -1624.723
 country_165        -1756.2151     62.435    -28.129      0.000   -1878.635   -1633.795
 country_166        -1768.0085     62.859    -28.127      0.000   -1891.259   -1644.758
 country_167        -1778.2361     63.185    -28.143      0.000   -1902.128   -1654.344
 country_168        -1790.6714     63.653    -28.132      0.000   -1915.480   -1665.862
 country_169        -1800.0882     64.016    -28.119      0.000   -1925.609   -1674.567
 country_170        -1811.0666     64.396    -28.124      0.000   -1937.332   -1684.802
 country_171        -1822.8996     64.743    -28.156      0.000   -1949.845   -1695.955
 country_172        -1832.4155     65.118    -28.140      0.000   -1960.097   -1704.734
 country_173        -1844.4299     65.547    -28.139      0.000   -1972.952   -1715.908
 country_174        -1855.6871     65.989    -28.121      0.000   -1985.077   -1726.298
 country_176        -1875.7292     66.709    -28.118      0.000   -2006.530   -1744.928
 country_177        -1886.8650     66.987    -28.168      0.000   -2018.211   -1755.519
 country_178        -1898.5970     67.574    -28.097      0.000   -2031.093   -1766.101
 country_179        -1907.4225     67.801    -28.133      0.000   -2040.364   -1774.481
 country_180        -1919.6415     68.247    -28.128      0.000   -2053.457   -1785.826
 country_181        -1930.9808     68.720    -28.099      0.000   -2065.725   -1796.237
 country_182        -1941.1042     69.026    -28.121      0.000   -2076.448   -1805.761
 country_183        -1951.0190     69.265    -28.167      0.000   -2086.832   -1815.206
 country_184        -1961.7800     69.625    -28.176      0.000   -2098.298   -1825.262
 country_199        -2121.3383     75.290    -28.175      0.000   -2268.965   -1973.711
 country_205        -2187.2173     77.668    -28.161      0.000   -2339.506   -2034.928
 country_206        -2198.5782     78.079    -28.158      0.000   -2351.673   -2045.484
 country_208        -2217.8861     78.768    -28.157      0.000   -2372.331   -2063.441

___

**<center><u>Likelihood Ratio Test</u></center>**

___

In [21]:
MonthToAnnualRegression.likelihood_ratio_test(data_with_shocks.models['Fixed Effect'], data_without_shocks.models['Fixed Effect'],36)

Likelihood Ratio Test Statistic: 136.4021610305117
P-value: 2.644084252006417e-13
Critical value: 50.99846016571061
Test Statistic > Critical Value: Reject the null hypothesis

- A likelihood ratio test statistic of 136.40 and a p-value of approximately 2.64e-13 suggest strong evidence against the null hypothesis. In statistics, a very small p-value (typically below a significance level like 0.05) indicates that you would reject the null hypothesis in favor of the alternative hypothesis.
- In the context of the likelihood ratio test, where you're comparing nested models (one being a more complex model than the other), these results suggest that <u>the more complex model (the one with additional variables or complexity) significantly improves the fit</u> compared to the simpler model. This improvement is substantial enough to conclude that the additional variables or complexity in the more complex model contribute significantly to explaining the variability in the data.

___