In [1]:
from viewser.operations import fetch
from viewser import Queryset, Column

#some extra functions for some of the later demonstration
import pandas as pd
import numpy as np
import subprocess

import statsmodels.api as sm
import statsmodels.formula.api as smf
from sklearn.metrics import r2_score, mean_squared_error
import matplotlib.pyplot as plt

In [2]:
df = Queryset("month_to_annual", "country_month").fetch()

 .

In [3]:
df

                     wdi_sh_dyn_mort_fe  wdi_ny_gdp_mktp_kd  wdi_sp_pop_totl  \
month_id country_id
1        1                     4.151040           21.645497        13.564709
         2                     3.953165           21.704949        12.834983
         3                     3.616309           22.994549        13.935826
         4                     3.711130            0.000000        16.537493
         5                     3.718438           19.784920        12.013131
...                                 ...                 ...              ...
852      242                   3.793239           24.884573        17.967941
         243                   2.844909           25.542467        17.428496
         244                   3.616309           22.728763        15.344817
         245                   3.927896           25.101865        17.636672
         246                   4.552824           23.207989        16.190256

                     ged_sb_tlag1  ged_sb_tlag2  ged_sb_tlag3  ged_sb_tlag4  \
month_id country_id
1        1                    0.0           0.0           0.0           0.0
         2                    0.0           0.0           0.0           0.0
         3                    0.0           0.0           0.0           0.0
         4                    0.0           0.0           0.0           0.0
         5                    0.0           0.0           0.0           0.0
...                           ...           ...           ...           ...
852      242                  0.0           0.0           0.0           0.0
         243                  0.0           0.0           0.0           0.0
         244                  0.0           0.0           0.0           0.0
         245                  0.0           0.0           0.0           0.0
         246                  0.0           0.0           0.0           0.0

                     ged_sb_tlag5  ged_sb_tlag6  ged_sb_tlag7  ...  \
month_id country_id                                            ...
1        1                    0.0           0.0           0.0  ...
         2                    0.0           0.0           0.0  ...
         3                    0.0           0.0           0.0  ...
         4                    0.0           0.0           0.0  ...
         5                    0.0           0.0           0.0  ...
...                           ...           ...           ...  ...
852      242                  0.0           0.0           0.0  ...
         243                  0.0           0.0           0.0  ...
         244                  0.0           0.0           0.0  ...
         245                  0.0           0.0           0.0  ...
         246                  0.0           0.0           0.0  ...

                     ged_sb_tlag27  ged_sb_tlag28  ged_sb_tlag29  \
month_id country_id
1        1                     0.0            0.0            0.0
         2                     0.0            0.0            0.0
         3                     0.0            0.0            0.0
         4                     0.0            0.0            0.0
         5                     0.0            0.0            0.0
...                            ...            ...            ...
852      242                   0.0            0.0            0.0
         243                   0.0            0.0            0.0
         244                   0.0            0.0            0.0
         245                   0.0            0.0            0.0
         246                   0.0            0.0            0.0

                     ged_sb_tlag30  ged_sb_tlag31  ged_sb_tlag32  \
month_id country_id
1        1                     0.0            0.0            0.0
         2                     0.0            0.0            0.0
         3                     0.0            0.0            0.0
         4                     0.0            0.0            0.0
         5                     0.0            0.0            0.0
...                            ...            ...            ...
852      242                   0.0            0.0            0.0
         243                   0.0            0.0            0.0
         244                   0.0            0.0            0.0
         245                   0.0            0.0            0.0
         246                   0.0            0.0            0.0

                     ged_sb_tlag33  ged_sb_tlag34  ged_sb_tlag35  \
month_id country_id
1        1                     0.0            0.0            0.0
         2                     0.0            0.0            0.0
         3                     0.0            0.0            0.0
         4                     0.0            0.0            0.0
         5                     0.0            0.0            0.0
...                            ...            ...            ...
852      242                   0.0            0.0            0.0
         243                   0.0            0.0            0.0
         244                   0.0            0.0            0.0
         245                   0.0            0.0            0.0
         246                   0.0            0.0            0.0

                     ged_sb_tlag36
month_id country_id
1        1                     0.0
         2                     0.0
         3                     0.0
         4                     0.0
         5                     0.0
...                            ...
852      242                   0.0
         243                   0.0
         244                   0.0
         245                   0.0
         246                   0.0

[158230 rows x 39 columns]

In [4]:
import pandas as pd
import statsmodels.api as sm

# Assuming you have a DataFrame with the given data, let's call it 'df'
# The DataFrame has a MultiIndex with 'month_id' and 'country_id'

# Define your dependent variable (y) and independent variables (X)
y = df['wdi_sh_dyn_mort_fe']
X = df[['wdi_ny_gdp_mktp_kd', 'wdi_sp_pop_totl', 'ged_sb_tlag1', 'ged_sb_tlag2', 'ged_sb_tlag3', 'ged_sb_tlag4',
        'ged_sb_tlag5', 'ged_sb_tlag6', 'ged_sb_tlag7', 'ged_sb_tlag8', 'ged_sb_tlag9', 'ged_sb_tlag10', 'ged_sb_tlag11',
        'ged_sb_tlag12', 'ged_sb_tlag13', 'ged_sb_tlag14', 'ged_sb_tlag15', 'ged_sb_tlag16', 'ged_sb_tlag17',
        'ged_sb_tlag18', 'ged_sb_tlag19', 'ged_sb_tlag20', 'ged_sb_tlag21', 'ged_sb_tlag22', 'ged_sb_tlag23',
        'ged_sb_tlag24', 'ged_sb_tlag25', 'ged_sb_tlag26', 'ged_sb_tlag27', 'ged_sb_tlag28', 'ged_sb_tlag29',
        'ged_sb_tlag30', 'ged_sb_tlag31', 'ged_sb_tlag32', 'ged_sb_tlag33', 'ged_sb_tlag34', 'ged_sb_tlag35',
        'ged_sb_tlag36']]

# Create dummy variables for country fixed effects
country_dummies = pd.get_dummies(df.index.get_level_values('country_id'), prefix='country', drop_first=True)

# Concatenate the dummy variables with the independent variables
X = pd.concat([X, country_dummies], axis=1)

# Add a constant term to the independent variables (intercept)
X = sm.add_constant(X)

# Fit the fixed effects model
model = sm.OLS(y, X).fit()

# Print the model summary
print(model.summary())

NotImplementedError: Can only union MultiIndex with MultiIndex or Index of tuples, try mi.to_flat_index().union(other) instead.

In [5]:
y

month_id  country_id
1         1             4.151040
          2             3.953165
          3             3.616309
          4             3.711130
          5             3.718438
                          ...
852       242           3.793239
          243           2.844909
          244           3.616309
          245           3.927896
          246           4.552824
Name: wdi_sh_dyn_mort_fe, Length: 158230, dtype: float64

In [6]:
X

                     wdi_ny_gdp_mktp_kd  wdi_sp_pop_totl  ged_sb_tlag1  \
month_id country_id
1        1                    21.645497        13.564709           0.0
         2                    21.704949        12.834983           0.0
         3                    22.994549        13.935826           0.0
         4                     0.000000        16.537493           0.0
         5                    19.784920        12.013131           0.0
...                                 ...              ...           ...
852      242                  24.884573        17.967941           0.0
         243                  25.542467        17.428496           0.0
         244                  22.728763        15.344817           0.0
         245                  25.101865        17.636672           0.0
         246                  23.207989        16.190256           0.0

                     ged_sb_tlag2  ged_sb_tlag3  ged_sb_tlag4  ged_sb_tlag5  \
month_id country_id
1        1                    0.0           0.0           0.0           0.0
         2                    0.0           0.0           0.0           0.0
         3                    0.0           0.0           0.0           0.0
         4                    0.0           0.0           0.0           0.0
         5                    0.0           0.0           0.0           0.0
...                           ...           ...           ...           ...
852      242                  0.0           0.0           0.0           0.0
         243                  0.0           0.0           0.0           0.0
         244                  0.0           0.0           0.0           0.0
         245                  0.0           0.0           0.0           0.0
         246                  0.0           0.0           0.0           0.0

                     ged_sb_tlag6  ged_sb_tlag7  ged_sb_tlag8  ...  \
month_id country_id                                            ...
1        1                    0.0           0.0           0.0  ...
         2                    0.0           0.0           0.0  ...
         3                    0.0           0.0           0.0  ...
         4                    0.0           0.0           0.0  ...
         5                    0.0           0.0           0.0  ...
...                           ...           ...           ...  ...
852      242                  0.0           0.0           0.0  ...
         243                  0.0           0.0           0.0  ...
         244                  0.0           0.0           0.0  ...
         245                  0.0           0.0           0.0  ...
         246                  0.0           0.0           0.0  ...

                     ged_sb_tlag27  ged_sb_tlag28  ged_sb_tlag29  \
month_id country_id
1        1                     0.0            0.0            0.0
         2                     0.0            0.0            0.0
         3                     0.0            0.0            0.0
         4                     0.0            0.0            0.0
         5                     0.0            0.0            0.0
...                            ...            ...            ...
852      242                   0.0            0.0            0.0
         243                   0.0            0.0            0.0
         244                   0.0            0.0            0.0
         245                   0.0            0.0            0.0
         246                   0.0            0.0            0.0

                     ged_sb_tlag30  ged_sb_tlag31  ged_sb_tlag32  \
month_id country_id
1        1                     0.0            0.0            0.0
         2                     0.0            0.0            0.0
         3                     0.0            0.0            0.0
         4                     0.0            0.0            0.0
         5                     0.0            0.0            0.0
...                            ...            ...            ...
852      242                   0.0            0.0            0.0
         243                   0.0            0.0            0.0
         244                   0.0            0.0            0.0
         245                   0.0            0.0            0.0
         246                   0.0            0.0            0.0

                     ged_sb_tlag33  ged_sb_tlag34  ged_sb_tlag35  \
month_id country_id
1        1                     0.0            0.0            0.0
         2                     0.0            0.0            0.0
         3                     0.0            0.0            0.0
         4                     0.0            0.0            0.0
         5                     0.0            0.0            0.0
...                            ...            ...            ...
852      242                   0.0            0.0            0.0
         243                   0.0            0.0            0.0
         244                   0.0            0.0            0.0
         245                   0.0            0.0            0.0
         246                   0.0            0.0            0.0

                     ged_sb_tlag36
month_id country_id
1        1                     0.0
         2                     0.0
         3                     0.0
         4                     0.0
         5                     0.0
...                            ...
852      242                   0.0
         243                   0.0
         244                   0.0
         245                   0.0
         246                   0.0

[158230 rows x 38 columns]

In [7]:
country_dummies

,country_2,country_3,country_4,country_5,country_6,country_7,country_8,country_9,country_10,country_11,...,country_243,country_244,country_245,country_246,country_247,country_248,country_250,country_252,country_253,country_254
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158225,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
158226,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
158227,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
158228,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
158229,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False