In [1]:
import pandas as pd
import statsmodels.api as sm
from statsmodels.regression.mixed_linear_model import MixedLM
import matplotlib.pyplot as plt
from scipy import stats
from viewser.operations import fetch
from viewser import Queryset, Column
import subprocess

In [2]:
from MonthToAnnual import MonthToAnnual

In [3]:
df = Queryset("month_to_annual", "country_month").fetch()

 .

In [4]:
df

                            country_name  wdi_sh_dyn_mort_fe  \
month_id country_id
1        1                        Guyana            4.151040
         2                      Suriname            3.953165
         3           Trinidad and Tobago            3.616309
         4                     Venezuela            3.711130
         5                         Samoa            3.718438
...                                  ...                 ...
852      242                    Tanzania            3.793239
         243                     Morocco            2.844909
         244                  Mauritania            3.616309
         245                       Sudan            3.927896
         246                 South Sudan            4.552824

                     wdi_ny_gdp_mktp_kd  wdi_sp_pop_totl  ged_sb_tlag1  \
month_id country_id
1        1                    21.645497        13.564709           0.0
         2                    21.704949        12.834983           0.0
         3                    22.994549        13.935826           0.0
         4                     0.000000        16.537493           0.0
         5                    19.784920        12.013131           0.0
...                                 ...              ...           ...
852      242                  24.884573        17.967941           0.0
         243                  25.542467        17.428496           0.0
         244                  22.728763        15.344817           0.0
         245                  25.101865        17.636672           0.0
         246                  23.207989        16.190256           0.0

                     ged_sb_tlag2  ged_sb_tlag3  ged_sb_tlag4  ged_sb_tlag5  \
month_id country_id
1        1                    0.0           0.0           0.0           0.0
         2                    0.0           0.0           0.0           0.0
         3                    0.0           0.0           0.0           0.0
         4                    0.0           0.0           0.0           0.0
         5                    0.0           0.0           0.0           0.0
...                           ...           ...           ...           ...
852      242                  0.0           0.0           0.0           0.0
         243                  0.0           0.0           0.0           0.0
         244                  0.0           0.0           0.0           0.0
         245                  0.0           0.0           0.0           0.0
         246                  0.0           0.0           0.0           0.0

                     ged_sb_tlag6  ...  ged_sb_tlag27  ged_sb_tlag28  \
month_id country_id                ...
1        1                    0.0  ...            0.0            0.0
         2                    0.0  ...            0.0            0.0
         3                    0.0  ...            0.0            0.0
         4                    0.0  ...            0.0            0.0
         5                    0.0  ...            0.0            0.0
...                           ...  ...            ...            ...
852      242                  0.0  ...            0.0            0.0
         243                  0.0  ...            0.0            0.0
         244                  0.0  ...            0.0            0.0
         245                  0.0  ...            0.0            0.0
         246                  0.0  ...            0.0            0.0

                     ged_sb_tlag29  ged_sb_tlag30  ged_sb_tlag31  \
month_id country_id
1        1                     0.0            0.0            0.0
         2                     0.0            0.0            0.0
         3                     0.0            0.0            0.0
         4                     0.0            0.0            0.0
         5                     0.0            0.0            0.0
...                            ...            ...            ...
852      242                   0.0            0.0            0.0
         243                   0.0            0.0            0.0
         244                   0.0            0.0            0.0
         245                   0.0            0.0            0.0
         246                   0.0            0.0            0.0

                     ged_sb_tlag32  ged_sb_tlag33  ged_sb_tlag34  \
month_id country_id
1        1                     0.0            0.0            0.0
         2                     0.0            0.0            0.0
         3                     0.0            0.0            0.0
         4                     0.0            0.0            0.0
         5                     0.0            0.0            0.0
...                            ...            ...            ...
852      242                   0.0            0.0            0.0
         243                   0.0            0.0            0.0
         244                   0.0            0.0            0.0
         245                   0.0            0.0            0.0
         246                   0.0            0.0            0.0

                     ged_sb_tlag35  ged_sb_tlag36
month_id country_id
1        1                     0.0            0.0
         2                     0.0            0.0
         3                     0.0            0.0
         4                     0.0            0.0
         5                     0.0            0.0
...                            ...            ...
852      242                   0.0            0.0
         243                   0.0            0.0
         244                   0.0            0.0
         245                   0.0            0.0
         246                   0.0            0.0

[158230 rows x 40 columns]

In [5]:
independent_variable = ['wdi_ny_gdp_mktp_kd', 'wdi_sp_pop_totl']
dependent_variable = 'wdi_sh_dyn_mort_fe'

In [6]:
df[independent_variable]

                     wdi_ny_gdp_mktp_kd  wdi_sp_pop_totl
month_id country_id
1        1                    21.645497        13.564709
         2                    21.704949        12.834983
         3                    22.994549        13.935826
         4                     0.000000        16.537493
         5                    19.784920        12.013131
...                                 ...              ...
852      242                  24.884573        17.967941
         243                  25.542467        17.428496
         244                  22.728763        15.344817
         245                  25.101865        17.636672
         246                  23.207989        16.190256

[158230 rows x 2 columns]

In [7]:
model_ordinary = MonthToAnnual(
    df[dependent_variable], df[independent_variable], 'or')
model_ordinary.fit()

In [8]:
model_ordinary.model

In [9]:
model_ordinary.predict_annual()
predictions = model_ordinary.predict(df[independent_variable])
model_ordinary.plot_predictions()

                     wdi_ny_gdp_mktp_kd  wdi_sp_pop_totl
month_id country_id
1        1                    21.645497        13.564709
         2                    21.704949        12.834983
         3                    22.994549        13.935826
         4                     0.000000        16.537493
         5                    19.784920        12.013131
...                                 ...              ...
852      242                  24.884573        17.967941
         243                  25.542467        17.428496
         244                  22.728763        15.344817
         245                  25.101865        17.636672
         246                  23.207989        16.190256

[158230 rows x 2 columns]

In [10]:
predictions

month_id  country_id
1         1             2.875669
          2             2.709201
          3             2.810116
          4             5.884803
          5             2.738113
                          ...
852       242           3.488325
          243           3.298402
          244           3.147985
          245           3.392030
          246           3.281157
Length: 158230, dtype: float64

In [11]:
model_fe = MonthToAnnual(df[independent_variable],df[dependent_variable],'fe')

In [12]:
model_fe.fit()
model_fe.predict_annual()
predictions = model_fe.predict(df[independent_variable])
model_fe.plot_predictions()

                     wdi_ny_gdp_mktp_kd  wdi_sp_pop_totl
month_id country_id
1        1                    21.645497        13.564709
         2                    21.704949        12.834983
         3                    22.994549        13.935826
         4                     0.000000        16.537493
         5                    19.784920        12.013131
...                                 ...              ...
852      242                  24.884573        17.967941
         243                  25.542467        17.428496
         244                  22.728763        15.344817
         245                  25.101865        17.636672
         246                  23.207989        16.190256

[158230 rows x 2 columns]

AttributeError: 'NoneType' object has no attribute 'predict'