In [1]:
import pandas as pd
import statsmodels.api as sm
from statsmodels.regression.mixed_linear_model import MixedLM
import matplotlib.pyplot as plt
from scipy import stats
from viewser.operations import fetch
from viewser import Queryset, Column
import subprocess

In [2]:
from MonthToAnnual import MonthToAnnualRegression

In [3]:
!viewser tables show ged2_cm

  > Ged2_cm
  -------------------------------------------------------
  | name                    | path                    |
  |:------------------------|:------------------------|
  | country_month_id        | country_month_id        |
  | ged_sb_best_sum_nokgi   | ged_sb_best_sum_nokgi   |
  | ged_ns_best_sum_nokgi   | ged_ns_best_sum_nokgi   |
  | ged_os_best_sum_nokgi   | ged_os_best_sum_nokgi   |
  | ged_sb_best_count_nokgi | ged_sb_best_count_nokgi |
  | ged_ns_best_count_nokgi | ged_ns_best_count_nokgi |
  | ged_os_best_count_nokgi | ged_os_best_count_nokgi |
  | ged_sb_high_sum_nokgi   | ged_sb_high_sum_nokgi   |
  | ged_ns_high_sum_nokgi   | ged_ns_high_sum_nokgi   |
  | ged_os_high_sum_nokgi   | ged_os_high_sum_nokgi   |
  | ged_sb_high_count_nokgi | ged_sb_high_count_nokgi |
  | ged_ns_high_count_nokgi | ged_ns_high_count_nokgi |
  | ged_os_high_count_nokgi | ged_os_high_count_nokgi |
  | test                    | test                    |

  -------------------------------------------------------

num_lags = 36

queryset = (Queryset('month_to_annual','country_month'))

queryset = queryset.with_column(
    Column('ged_sb_nolag', from_table="ged2_cm", from_column="ged_sb_best_sum_nokgi")
    .transform.missing.replace_na()
    .transform.ops.ln()
    .transform.missing.replace_na()
)
for lag in range(1, num_lags + 1):
    tlag_variable_name = f"ged_sb_tlag{lag}"
    # Apply the tlag transformation
    queryset = queryset.with_column(
        Column(tlag_variable_name, from_table="ged2_cm", from_column="ged_sb_best_sum_nokgi")
        .transform.missing.replace_na()
        .transform.ops.ln()
        .transform.temporal.tlag(lag)
        .transform.missing.replace_na()
    )

queryset = queryset.with_column(
    Column('wdi_sh_dyn_mort_fe', from_table="wdi_cy", from_column="wdi_sh_dyn_mort_fe")
    .transform.missing.fill()
    .transform.ops.ln()
    .transform.missing.replace_na()

)

queryset = queryset.with_column(
    Column('wdi_ny_gdp_mktp_kd', from_table="wdi_cy", from_column="wdi_ny_gdp_mktp_kd")
    .transform.missing.fill()
    .transform.ops.ln()
    .transform.missing.replace_na()

)

queryset = queryset.with_column(
    Column('wdi_sp_pop_totl', from_table="wdi_cy", from_column="wdi_sp_pop_totl")
    .transform.missing.fill()
    .transform.ops.ln()
    .transform.missing.replace_na()

)

queryset = queryset.with_column(
    Column('country_name', from_table="country", from_column="name")

)


    
df = queryset.publish().fetch()

In [4]:
df = Queryset("month_to_annual_moving_sum", "country_month").fetch()

 .

In [5]:
df

                            country_name  ged_sb_nolag  wdi_sh_dyn_mort_fe  \
month_id country_id
1        1                        Guyana           0.0            4.151040
         2                      Suriname           0.0            3.953165
         3           Trinidad and Tobago           0.0            3.616309
         4                     Venezuela           0.0            3.711130
         5                         Samoa           0.0            3.718438
...                                  ...           ...                 ...
852      242                    Tanzania           0.0            3.793239
         243                     Morocco           0.0            2.844909
         244                  Mauritania           0.0            3.616309
         245                       Sudan           0.0            3.927896
         246                 South Sudan           0.0            4.552824

                     wdi_ny_gdp_mktp_kd  wdi_sp_pop_totl  ged_sb_tlag1  \
month_id country_id
1        1                    21.645497        13.564709  0.000000e+00
         2                    21.704949        12.834983  0.000000e+00
         3                    22.994549        13.935826  0.000000e+00
         4                     0.000000        16.537493  0.000000e+00
         5                    19.784920        12.013131  0.000000e+00
...                                 ...              ...           ...
852      242                  24.884573        17.967941  0.000000e+00
         243                  25.542467        17.428496  0.000000e+00
         244                  22.728763        15.344817  0.000000e+00
         245                  25.101865        17.636672  8.881784e-16
         246                  23.207989        16.190256  0.000000e+00

                     ged_sb_tlag2  ged_sb_tlag3  ged_sb_tlag4  ged_sb_tlag5  \
month_id country_id
1        1           0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
         2           0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
         3           0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
         4           0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
         5           0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
...                           ...           ...           ...           ...
852      242         0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
         243         0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
         244         0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
         245         8.881784e-16  8.881784e-16  8.881784e-16  8.881784e-16
         246         0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00

                     ...  ged_sb_tlag27  ged_sb_tlag28  ged_sb_tlag29  \
month_id country_id  ...
1        1           ...   0.000000e+00   0.000000e+00   0.000000e+00
         2           ...   0.000000e+00   0.000000e+00   0.000000e+00
         3           ...   0.000000e+00   0.000000e+00   0.000000e+00
         4           ...   0.000000e+00   0.000000e+00   0.000000e+00
         5           ...   0.000000e+00   0.000000e+00   0.000000e+00
...                  ...            ...            ...            ...
852      242         ...   0.000000e+00   0.000000e+00   0.000000e+00
         243         ...   0.000000e+00   0.000000e+00   0.000000e+00
         244         ...   0.000000e+00   0.000000e+00   0.000000e+00
         245         ...   8.881784e-16   8.881784e-16   8.881784e-16
         246         ...   0.000000e+00   0.000000e+00   0.000000e+00

                     ged_sb_tlag30  ged_sb_tlag31  ged_sb_tlag32  \
month_id country_id
1        1            0.000000e+00   0.000000e+00   0.000000e+00
         2            0.000000e+00   0.000000e+00   0.000000e+00
         3            0.000000e+00   0.000000e+00   0.000000e+00
         4            0.000000e+00   0.000000e+00   0.000000e+00
         5            0.000000e+00   0.000000e+00   0.000000e+00
...                            ...            ...            ...
852      242          0.000000e+00   0.000000e+00   0.000000e+00
         243          0.000000e+00   0.000000e+00   0.000000e+00
         244          0.000000e+00   0.000000e+00   0.000000e+00
         245          8.881784e-16   8.881784e-16   8.881784e-16
         246          0.000000e+00   0.000000e+00   0.000000e+00

                     ged_sb_tlag33  ged_sb_tlag34  ged_sb_tlag35  \
month_id country_id
1        1            0.000000e+00   0.000000e+00   0.000000e+00
         2            0.000000e+00   0.000000e+00   0.000000e+00
         3            0.000000e+00   0.000000e+00   0.000000e+00
         4            0.000000e+00   0.000000e+00   0.000000e+00
         5            0.000000e+00   0.000000e+00   0.000000e+00
...                            ...            ...            ...
852      242          0.000000e+00   0.000000e+00   0.000000e+00
         243          0.000000e+00   0.000000e+00   0.000000e+00
         244          0.000000e+00   0.000000e+00   0.000000e+00
         245          8.881784e-16   8.881784e-16   8.881784e-16
         246          0.000000e+00   0.000000e+00   0.000000e+00

                     ged_sb_tlag36
month_id country_id
1        1            0.000000e+00
         2            0.000000e+00
         3            0.000000e+00
         4            0.000000e+00
         5            0.000000e+00
...                            ...
852      242          0.000000e+00
         243          0.000000e+00
         244          0.000000e+00
         245          8.881784e-16
         246          0.000000e+00

[158230 rows x 41 columns]

In [6]:
df = df.query('country_id != [239,240]')

In [7]:
df.query('country_id == 28')

,,country_name,ged_sb_nolag,wdi_sh_dyn_mort_fe,wdi_ny_gdp_mktp_kd,wdi_sp_pop_totl,ged_sb_tlag1,ged_sb_tlag2,ged_sb_tlag3,ged_sb_tlag4,ged_sb_tlag5,...,ged_sb_tlag27,ged_sb_tlag28,ged_sb_tlag29,ged_sb_tlag30,ged_sb_tlag31,ged_sb_tlag32,ged_sb_tlag33,ged_sb_tlag34,ged_sb_tlag35,ged_sb_tlag36
month_id,country_id,,,,,,,,,,,,,,,,,,,,,
1,28,Colombia,0.0,3.979682,25.179415,17.080361,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,28,Colombia,0.0,3.979682,25.179415,17.080361,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,28,Colombia,0.0,3.979682,25.179415,17.080361,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,28,Colombia,0.0,3.979682,25.179415,17.080361,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,28,Colombia,0.0,3.979682,25.179415,17.080361,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
848,28,Colombia,0.0,2.525729,26.524291,17.757414,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
849,28,Colombia,0.0,2.525729,26.524291,17.757414,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
850,28,Colombia,0.0,2.525729,26.524291,17.757414,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
851,28,Colombia,0.0,2.525729,26.524291,17.757414,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
852,28,Colombia,0.0,2.525729,26.524291,17.757414,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
j = 0
for i in range(1,247,1):
    count = MonthToAnnualRegression.countries_with_missing_data(df,i)
    if count != 852 :
        print(i, count)
        j=j+1
print('Number of countries with missing data is ',j)

15 0
27 832
35 830
36 808
44 0
51 0
56 692
57 692
59 379
61 0
63 709
65 709
68 0
71 0
72 0
75 0
83 705
84 705
86 710
88 0
91 0
92 712
95 0
98 696
102 696
103 705
106 0
110 713
111 712
113 712
114 712
115 713
117 709
122 711
123 713
124 607
125 709
126 709
131 607
134 713
137 712
140 804
141 0
144 675
152 771
153 770
163 730
170 730
175 0
176 584
182 847
184 723
185 130
186 130
187 156
188 143
189 140
190 0
191 161
192 123
193 0
194 0
195 0
196 125
197 125
200 0
201 0
202 0
203 0
204 0
207 0
208 269
209 584
210 0
211 0
212 0
215 0
216 0
217 0
219 0
221 0
224 0
225 0
226 0
227 171
228 0
229 0
230 21
231 535
232 514
233 514
236 193
238 0
239 0
240 0
241 0
242 659
245 474
246 474
Number of countries with missing data is  99

In [9]:
fixed_effect_column = 'country_id'
df[fixed_effect_column] = df.index.get_level_values(fixed_effect_column)
fixed_effect_column = 'month_id'
df[fixed_effect_column] = df.index.get_level_values(fixed_effect_column)

/var/folders/qx/vpttxp096k9bhf2r8qcpdxlm0000gn/T/ipykernel_92323/1383390420.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[fixed_effect_column] = df.index.get_level_values(fixed_effect_column)
/var/folders/qx/vpttxp096k9bhf2r8qcpdxlm0000gn/T/ipykernel_92323/1383390420.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[fixed_effect_column] = df.index.get_level_values(fixed_effect_column)

In [10]:
df

                            country_name  ged_sb_nolag  wdi_sh_dyn_mort_fe  \
month_id country_id
1        1                        Guyana           0.0            4.151040
         2                      Suriname           0.0            3.953165
         3           Trinidad and Tobago           0.0            3.616309
         4                     Venezuela           0.0            3.711130
         5                         Samoa           0.0            3.718438
...                                  ...           ...                 ...
852      242                    Tanzania           0.0            3.793239
         243                     Morocco           0.0            2.844909
         244                  Mauritania           0.0            3.616309
         245                       Sudan           0.0            3.927896
         246                 South Sudan           0.0            4.552824

                     wdi_ny_gdp_mktp_kd  wdi_sp_pop_totl  ged_sb_tlag1  \
month_id country_id
1        1                    21.645497        13.564709  0.000000e+00
         2                    21.704949        12.834983  0.000000e+00
         3                    22.994549        13.935826  0.000000e+00
         4                     0.000000        16.537493  0.000000e+00
         5                    19.784920        12.013131  0.000000e+00
...                                 ...              ...           ...
852      242                  24.884573        17.967941  0.000000e+00
         243                  25.542467        17.428496  0.000000e+00
         244                  22.728763        15.344817  0.000000e+00
         245                  25.101865        17.636672  8.881784e-16
         246                  23.207989        16.190256  0.000000e+00

                     ged_sb_tlag2  ged_sb_tlag3  ged_sb_tlag4  ged_sb_tlag5  \
month_id country_id
1        1           0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
         2           0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
         3           0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
         4           0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
         5           0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
...                           ...           ...           ...           ...
852      242         0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
         243         0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
         244         0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
         245         8.881784e-16  8.881784e-16  8.881784e-16  8.881784e-16
         246         0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00

                     ...  ged_sb_tlag29  ged_sb_tlag30  ged_sb_tlag31  \
month_id country_id  ...
1        1           ...   0.000000e+00   0.000000e+00   0.000000e+00
         2           ...   0.000000e+00   0.000000e+00   0.000000e+00
         3           ...   0.000000e+00   0.000000e+00   0.000000e+00
         4           ...   0.000000e+00   0.000000e+00   0.000000e+00
         5           ...   0.000000e+00   0.000000e+00   0.000000e+00
...                  ...            ...            ...            ...
852      242         ...   0.000000e+00   0.000000e+00   0.000000e+00
         243         ...   0.000000e+00   0.000000e+00   0.000000e+00
         244         ...   0.000000e+00   0.000000e+00   0.000000e+00
         245         ...   8.881784e-16   8.881784e-16   8.881784e-16
         246         ...   0.000000e+00   0.000000e+00   0.000000e+00

                     ged_sb_tlag32  ged_sb_tlag33  ged_sb_tlag34  \
month_id country_id
1        1            0.000000e+00   0.000000e+00   0.000000e+00
         2            0.000000e+00   0.000000e+00   0.000000e+00
         3            0.000000e+00   0.000000e+00   0.000000e+00
         4            0.000000e+00   0.000000e+00   0.000000e+00
         5            0.000000e+00   0.000000e+00   0.000000e+00
...                            ...            ...            ...
852      242          0.000000e+00   0.000000e+00   0.000000e+00
         243          0.000000e+00   0.000000e+00   0.000000e+00
         244          0.000000e+00   0.000000e+00   0.000000e+00
         245          8.881784e-16   8.881784e-16   8.881784e-16
         246          0.000000e+00   0.000000e+00   0.000000e+00

                     ged_sb_tlag35  ged_sb_tlag36  country_id  month_id
month_id country_id
1        1            0.000000e+00   0.000000e+00           1         1
         2            0.000000e+00   0.000000e+00           2         1
         3            0.000000e+00   0.000000e+00           3         1
         4            0.000000e+00   0.000000e+00           4         1
         5            0.000000e+00   0.000000e+00           5         1
...                            ...            ...         ...       ...
852      242          0.000000e+00   0.000000e+00         242       852
         243          0.000000e+00   0.000000e+00         243       852
         244          0.000000e+00   0.000000e+00         244       852
         245          8.881784e-16   8.881784e-16         245       852
         246          0.000000e+00   0.000000e+00         246       852

[157862 rows x 43 columns]

In [11]:
# Remove countries that don't exist anymore
df = df.query('country_id!=185') # German Democratic Republic
# Remove country months that have value zero for dependent variable
df = df.query('wdi_sh_dyn_mort_fe!=0')

In [12]:
df

                            country_name  ged_sb_nolag  wdi_sh_dyn_mort_fe  \
month_id country_id
1        1                        Guyana           0.0            4.151040
         2                      Suriname           0.0            3.953165
         3           Trinidad and Tobago           0.0            3.616309
         4                     Venezuela           0.0            3.711130
         5                         Samoa           0.0            3.718438
...                                  ...           ...                 ...
852      242                    Tanzania           0.0            3.793239
         243                     Morocco           0.0            2.844909
         244                  Mauritania           0.0            3.616309
         245                       Sudan           0.0            3.927896
         246                 South Sudan           0.0            4.552824

                     wdi_ny_gdp_mktp_kd  wdi_sp_pop_totl  ged_sb_tlag1  \
month_id country_id
1        1                    21.645497        13.564709  0.000000e+00
         2                    21.704949        12.834983  0.000000e+00
         3                    22.994549        13.935826  0.000000e+00
         4                     0.000000        16.537493  0.000000e+00
         5                    19.784920        12.013131  0.000000e+00
...                                 ...              ...           ...
852      242                  24.884573        17.967941  0.000000e+00
         243                  25.542467        17.428496  0.000000e+00
         244                  22.728763        15.344817  0.000000e+00
         245                  25.101865        17.636672  8.881784e-16
         246                  23.207989        16.190256  0.000000e+00

                     ged_sb_tlag2  ged_sb_tlag3  ged_sb_tlag4  ged_sb_tlag5  \
month_id country_id
1        1           0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
         2           0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
         3           0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
         4           0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
         5           0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
...                           ...           ...           ...           ...
852      242         0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
         243         0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
         244         0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
         245         8.881784e-16  8.881784e-16  8.881784e-16  8.881784e-16
         246         0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00

                     ...  ged_sb_tlag29  ged_sb_tlag30  ged_sb_tlag31  \
month_id country_id  ...
1        1           ...   0.000000e+00   0.000000e+00   0.000000e+00
         2           ...   0.000000e+00   0.000000e+00   0.000000e+00
         3           ...   0.000000e+00   0.000000e+00   0.000000e+00
         4           ...   0.000000e+00   0.000000e+00   0.000000e+00
         5           ...   0.000000e+00   0.000000e+00   0.000000e+00
...                  ...            ...            ...            ...
852      242         ...   0.000000e+00   0.000000e+00   0.000000e+00
         243         ...   0.000000e+00   0.000000e+00   0.000000e+00
         244         ...   0.000000e+00   0.000000e+00   0.000000e+00
         245         ...   8.881784e-16   8.881784e-16   8.881784e-16
         246         ...   0.000000e+00   0.000000e+00   0.000000e+00

                     ged_sb_tlag32  ged_sb_tlag33  ged_sb_tlag34  \
month_id country_id
1        1            0.000000e+00   0.000000e+00   0.000000e+00
         2            0.000000e+00   0.000000e+00   0.000000e+00
         3            0.000000e+00   0.000000e+00   0.000000e+00
         4            0.000000e+00   0.000000e+00   0.000000e+00
         5            0.000000e+00   0.000000e+00   0.000000e+00
...                            ...            ...            ...
852      242          0.000000e+00   0.000000e+00   0.000000e+00
         243          0.000000e+00   0.000000e+00   0.000000e+00
         244          0.000000e+00   0.000000e+00   0.000000e+00
         245          8.881784e-16   8.881784e-16   8.881784e-16
         246          0.000000e+00   0.000000e+00   0.000000e+00

                     ged_sb_tlag35  ged_sb_tlag36  country_id  month_id
month_id country_id
1        1            0.000000e+00   0.000000e+00           1         1
         2            0.000000e+00   0.000000e+00           2         1
         3            0.000000e+00   0.000000e+00           3         1
         4            0.000000e+00   0.000000e+00           4         1
         5            0.000000e+00   0.000000e+00           5         1
...                            ...            ...         ...       ...
852      242          0.000000e+00   0.000000e+00         242       852
         243          0.000000e+00   0.000000e+00         243       852
         244          0.000000e+00   0.000000e+00         244       852
         245          8.881784e-16   8.881784e-16         245       852
         246          0.000000e+00   0.000000e+00         246       852

[155490 rows x 43 columns]

In [13]:
df = df.query('month_id > 240 & month_id < 450')

In [14]:
data1 = MonthToAnnualRegression(df)

In [15]:
data1.data

                            country_name  ged_sb_nolag  wdi_sh_dyn_mort_fe  \
month_id country_id
241      1                        Guyana      0.000000            3.732896
         2                      Suriname      0.000000            3.349904
         3           Trinidad and Tobago      0.000000            3.277145
         4                     Venezuela      0.000000            2.990720
         5                         Samoa      0.000000            3.005683
...                                  ...           ...                 ...
449      242                    Tanzania      0.000000            3.929863
         243                     Morocco      0.000000            3.005683
         244                  Mauritania      0.000000            3.747148
         245                       Sudan      4.143135            4.053523
         246                 South Sudan      1.609438            4.554929

                     wdi_ny_gdp_mktp_kd  wdi_sp_pop_totl  ged_sb_tlag1  \
month_id country_id
241      1                    21.779484        13.539826      0.000000
         2                    21.795169        13.079454      0.000000
         3                    23.309243        14.102345      0.000000
         4                     0.000000        17.011230      0.000000
         5                    20.098032        12.122740      0.000000
...                                 ...              ...           ...
449      242                  24.713506        17.845619      0.000000
         243                  25.482046        17.385835      0.000000
         244                  22.615803        15.241029      0.000000
         245                  25.206898        17.521243     28.105694
         246                  23.207989        16.181843     39.834858

                     ged_sb_tlag2  ged_sb_tlag3  ged_sb_tlag4  ged_sb_tlag5  \
month_id country_id
241      1               0.000000      0.000000      0.000000      0.000000
         2               0.000000      0.000000      0.000000      0.000000
         3               0.000000      0.000000      0.000000      0.000000
         4               0.000000      0.000000      0.000000      0.000000
         5               0.000000      0.000000      0.000000      0.000000
...                           ...           ...           ...           ...
449      242             0.000000      0.000000      0.000000      0.000000
         243             0.000000      0.000000      0.000000      0.000000
         244             0.000000      0.000000      0.000000      0.000000
         245            30.055260     35.317950     39.292948     42.345376
         246            36.810955     35.712343     34.326048     31.067952

                     ...  ged_sb_tlag29  ged_sb_tlag30  ged_sb_tlag31  \
month_id country_id  ...
241      1           ...       0.000000       0.000000       0.000000
         2           ...       0.000000       0.000000       0.000000
         3           ...       0.000000       0.000000       0.000000
         4           ...       0.000000       0.000000       0.000000
         5           ...       0.000000       0.000000       0.000000
...                  ...            ...            ...            ...
449      242         ...       0.000000       0.000000       0.000000
         243         ...       0.000000       0.000000       0.000000
         244         ...       0.000000       0.000000       0.000000
         245         ...      41.382015      40.441032      40.762616
         246         ...      45.191726      51.938138      48.300552

                     ged_sb_tlag32  ged_sb_tlag33  ged_sb_tlag34  \
month_id country_id
241      1                0.000000       0.000000       0.000000
         2                0.000000       0.000000       0.000000
         3                0.000000       0.000000       0.000000
         4                0.000000       0.000000       0.000000
         5                0.000000       0.000000       0.000000
...                            ...            ...            ...
449      242              0.000000       0.000000       0.000000
         243              0.000000       0.000000       0.000000
         244              0.000000       0.000000       0.000000
         245             39.427615      35.515592      37.220340
         246             50.222364      45.029408      39.941811

                     ged_sb_tlag35  ged_sb_tlag36  country_id  month_id
month_id country_id
241      1                0.000000       0.000000           1       241
         2                0.000000       0.000000           2       241
         3                0.000000       0.000000           3       241
         4                0.000000       0.000000           4       241
         5                0.000000       0.000000           5       241
...                            ...            ...         ...       ...
449      242              0.000000       0.000000         242       449
         243              0.000000       0.000000         243       449
         244              0.000000       0.000000         244       449
         245             40.439216      37.818177         245       449
         246             34.072514      30.740310         246       449

[39173 rows x 43 columns]

In [16]:
independent_variable = ['wdi_ny_gdp_mktp_kd','wdi_sp_pop_totl','month_id']
dependent_variable = 'wdi_sh_dyn_mort_fe'
data1.ols_regression(independent_variable,dependent_variable,'Fixed Effect')

['wdi_ny_gdp_mktp_kd', 'wdi_sp_pop_totl', 'month_id', 'country_2', 'country_3', 'country_4', 'country_5', 'country_6', 'country_7', 'country_8', 'country_9', 'country_10', 'country_11', 'country_12', 'country_13', 'country_14', 'country_16', 'country_17', 'country_18', 'country_19', 'country_20', 'country_21', 'country_22', 'country_23', 'country_24', 'country_25', 'country_26', 'country_27', 'country_28', 'country_29', 'country_30', 'country_31', 'country_32', 'country_33', 'country_34', 'country_35', 'country_36', 'country_37', 'country_38', 'country_39', 'country_40', 'country_41', 'country_42', 'country_43', 'country_45', 'country_46', 'country_47', 'country_48', 'country_49', 'country_50', 'country_52', 'country_53', 'country_54', 'country_55', 'country_56', 'country_57', 'country_58', 'country_59', 'country_60', 'country_62', 'country_63', 'country_64', 'country_65', 'country_66', 'country_67', 'country_69', 'country_70', 'country_73', 'country_74', 'country_76', 'country_77', 'country_78', 'country_79', 'country_80', 'country_81', 'country_82', 'country_83', 'country_84', 'country_85', 'country_86', 'country_87', 'country_89', 'country_90', 'country_92', 'country_93', 'country_94', 'country_96', 'country_97', 'country_98', 'country_99', 'country_100', 'country_101', 'country_102', 'country_103', 'country_104', 'country_105', 'country_107', 'country_108', 'country_109', 'country_110', 'country_111', 'country_112', 'country_113', 'country_114', 'country_115', 'country_116', 'country_117', 'country_118', 'country_119', 'country_120', 'country_121', 'country_122', 'country_123', 'country_124', 'country_125', 'country_126', 'country_127', 'country_128', 'country_129', 'country_130', 'country_131', 'country_132', 'country_133', 'country_134', 'country_135', 'country_136', 'country_137', 'country_138', 'country_139', 'country_140', 'country_142', 'country_143', 'country_144', 'country_145', 'country_146', 'country_147', 'country_148', 'country_149', 'country_150', 'country_151', 'country_152', 'country_153', 'country_154', 'country_155', 'country_156', 'country_157', 'country_158', 'country_159', 'country_160', 'country_161', 'country_162', 'country_163', 'country_164', 'country_165', 'country_166', 'country_167', 'country_168', 'country_169', 'country_170', 'country_171', 'country_172', 'country_173', 'country_174', 'country_176', 'country_177', 'country_178', 'country_179', 'country_180', 'country_181', 'country_182', 'country_183', 'country_184', 'country_199', 'country_205', 'country_206', 'country_208', 'country_209', 'country_213', 'country_214', 'country_218', 'country_220', 'country_222', 'country_223', 'country_230', 'country_231', 'country_233', 'country_234', 'country_235', 'country_237', 'country_242', 'country_243', 'country_244', 'country_245', 'country_246']
month_id  country_id
252       1             3.732896
          2             3.349904
          3             3.277145
          4             2.990720
          5             3.005683
                          ...
444       242           3.968403
          243           3.054001
          244           3.777348
          245           4.085976
          246           4.552824
Name: wdi_sh_dyn_mort_fe, Length: 3188, dtype: float64

In [17]:
data1.prediction(independent_variable, dependent_variable,'Fixed Effect')

['wdi_ny_gdp_mktp_kd', 'wdi_sp_pop_totl', 'month_id', 'country_2', 'country_3', 'country_4', 'country_5', 'country_6', 'country_7', 'country_8', 'country_9', 'country_10', 'country_11', 'country_12', 'country_13', 'country_14', 'country_16', 'country_17', 'country_18', 'country_19', 'country_20', 'country_21', 'country_22', 'country_23', 'country_24', 'country_25', 'country_26', 'country_27', 'country_28', 'country_29', 'country_30', 'country_31', 'country_32', 'country_33', 'country_34', 'country_35', 'country_36', 'country_37', 'country_38', 'country_39', 'country_40', 'country_41', 'country_42', 'country_43', 'country_45', 'country_46', 'country_47', 'country_48', 'country_49', 'country_50', 'country_52', 'country_53', 'country_54', 'country_55', 'country_56', 'country_57', 'country_58', 'country_59', 'country_60', 'country_62', 'country_63', 'country_64', 'country_65', 'country_66', 'country_67', 'country_69', 'country_70', 'country_73', 'country_74', 'country_76', 'country_77', 'country_78', 'country_79', 'country_80', 'country_81', 'country_82', 'country_83', 'country_84', 'country_85', 'country_86', 'country_87', 'country_89', 'country_90', 'country_92', 'country_93', 'country_94', 'country_96', 'country_97', 'country_98', 'country_99', 'country_100', 'country_101', 'country_102', 'country_103', 'country_104', 'country_105', 'country_107', 'country_108', 'country_109', 'country_110', 'country_111', 'country_112', 'country_113', 'country_114', 'country_115', 'country_116', 'country_117', 'country_118', 'country_119', 'country_120', 'country_121', 'country_122', 'country_123', 'country_124', 'country_125', 'country_126', 'country_127', 'country_128', 'country_129', 'country_130', 'country_131', 'country_132', 'country_133', 'country_134', 'country_135', 'country_136', 'country_137', 'country_138', 'country_139', 'country_140', 'country_142', 'country_143', 'country_144', 'country_145', 'country_146', 'country_147', 'country_148', 'country_149', 'country_150', 'country_151', 'country_152', 'country_153', 'country_154', 'country_155', 'country_156', 'country_157', 'country_158', 'country_159', 'country_160', 'country_161', 'country_162', 'country_163', 'country_164', 'country_165', 'country_166', 'country_167', 'country_168', 'country_169', 'country_170', 'country_171', 'country_172', 'country_173', 'country_174', 'country_176', 'country_177', 'country_178', 'country_179', 'country_180', 'country_181', 'country_182', 'country_183', 'country_184', 'country_199', 'country_205', 'country_206', 'country_208', 'country_209', 'country_213', 'country_214', 'country_218', 'country_220', 'country_222', 'country_223', 'country_230', 'country_231', 'country_233', 'country_234', 'country_235', 'country_237', 'country_242', 'country_243', 'country_244', 'country_245', 'country_246']

In [18]:
data1.predictions

{'Fixed Effect': month_id  country_id
 241       1             3.873840
           2             3.449225
           3             3.502340
           4             3.122051
           5             3.287218
                           ...
 449       242           4.114232
           243           3.157615
           244           3.865964
           245           4.109180
           246           4.466052
 Length: 39173, dtype: float64}

In [19]:
data1.results

{'Fixed Effect': <class 'statsmodels.iolib.summary.Summary'>
 """
                                  OLS Regression Results
 =======================================================================================
 Dep. Variable:     wdi_sh_dyn_mort_fe   R-squared (uncentered):                   0.999
 Model:                            OLS   Adj. R-squared (uncentered):              0.999
 Method:                 Least Squares   F-statistic:                          1.306e+04
 Date:                Tue, 05 Dec 2023   Prob (F-statistic):                        0.00
 Time:                        09:40:07   Log-Likelihood:                          2388.7
 No. Observations:                3188   AIC:                                     -4389.
 Df Residuals:                    2994   BIC:                                     -3212.
 Df Model:                         194
 Covariance Type:            nonrobust
 ======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
 --------------------------------------------------------------------------------------
 wdi_ny_gdp_mktp_kd    -0.1814      0.015    -11.957      0.000      -0.211      -0.152
 wdi_sp_pop_totl        0.6328      0.024     26.145      0.000       0.585       0.680
 month_id              -0.0031   4.11e-05    -75.093      0.000      -0.003      -0.003
 country_2             -0.1305      0.042     -3.126      0.002      -0.212      -0.049
 country_3             -0.4500      0.044    -10.328      0.000      -0.535      -0.365
 country_4             -6.8985      0.422    -16.365      0.000      -7.725      -6.072
 country_5              0.0051      0.040      0.128      0.898      -0.073       0.083
 country_6             -0.0709      0.041     -1.739      0.082      -0.151       0.009
 country_7             -2.4489      0.051    -47.964      0.000      -2.549      -2.349
 country_8             -0.9865      0.055    -18.005      0.000      -1.094      -0.879
 country_9             -2.8980      0.064    -45.263      0.000      -3.024      -2.772
 country_10            -2.5356      0.047    -53.501      0.000      -2.629      -2.443
 country_11            -1.8631      0.051    -36.543      0.000      -1.963      -1.763
 country_12            -1.1672      0.047    -25.008      0.000      -1.259      -1.076
 country_13            -2.0649      0.056    -36.758      0.000      -2.175      -1.955
 country_14            -1.5357      0.043    -35.827      0.000      -1.620      -1.452
 country_16            -1.3013      0.054    -24.307      0.000      -1.406      -1.196
 country_17            -2.6493      0.059    -44.938      0.000      -2.765      -2.534
 country_18            -0.1075      0.049     -2.185      0.029      -0.204      -0.011
 country_19             0.7539      0.047     15.980      0.000       0.661       0.846
 country_20             0.1752      0.046      3.850      0.000       0.086       0.264
 country_21             0.2425      0.046      5.233      0.000       0.152       0.333
 country_22             0.3812      0.044      8.597      0.000       0.294       0.468
 country_23            -1.0981      0.049    -22.580      0.000      -1.193      -1.003
 country_24            -0.4900      0.060     -8.163      0.000      -0.608      -0.372
 country_25            -1.2777      0.043    -29.489      0.000      -1.363      -1.193
 country_26            -0.0821      0.054     -1.521      0.128      -0.188       0.024
 country_27            -0.1297      0.041     -3.141      0.002      -0.211      -0.049
 country_28            -2.4134      0.058    -41.499      0.000      -2.527      -2.299
 country_29            -1.8014      0.043    -41.462      0.000      -1.887      -1.716
 country_30            -2.7232      0.049    -55.800      0.000      -2.819      -2.627
 country_31            -1.4841      0.049    -30.156      0.000      -1.581      -1.388
 country_32            -1.5052      0.055    -27.430      0.000      -1.613      -1.398
 country_33            -1.4096      0.054    -25.950      0.000      -1.516      -1.303
 country_34            -1.0843      0.043    -25.280      0.000      -1.168      -1.000
 country_35             0.1033      0.054      1.924      0.054      -0.002       0.209
 country_36             0.8598      0.058     14.750      0.000       0.745       0.974
 country_37            -1.3588      0.059    -22.839      0.000      -1.475      -1.242
 country_38            -2.1937      0.048    -45.523      0.000      -2.288      -2.099
 country_39            -3.3172      0.048    -69.003      0.000      -3.411      -3.223
 country_40            -0.2126      0.040     -5.303      0.000      -0.291      -0.134
 country_41            -0.5363      0.063     -8.459      0.000      -0.661      -0.412
 country_42            -1.0768      0.067    -16.016      0.000      -1.209      -0.945
 country_43             0.1150      0.061      1.893      0.058      -0.004       0.234
 country_45            -2.8204      0.045    -63.058      0.000      -2.908      -2.733
 country_46            -3.4630      0.048    -71.871      0.000      -3.557      -3.369
 country_47            -0.3940      0.074     -5.331      0.000      -0.539      -0.249
 country_48            -0.2028      0.067     -3.006      0.003      -0.335      -0.071
 country_49             0.5676      0.056     10.225      0.000       0.459       0.676
 country_50            -0.2597      0.071     -3.666      0.000      -0.399      -0.121
 country_52            -0.7212      0.063    -11.393      0.000      -0.845      -0.597
 country_53             0.2710      0.067      4.045      0.000       0.140       0.402
 country_54             0.0632      0.056      1.139      0.255      -0.046       0.172
 country_55             0.6348      0.042     15.168      0.000       0.553       0.717
 country_56            -0.4591      0.058     -7.932      0.000      -0.573      -0.346
 country_57            -1.6543      0.092    -17.951      0.000      -1.835      -1.474
 country_58            -0.8091      0.047    -17.333      0.000      -0.901      -0.718
 country_59            -0.9533      0.064    -14.794      0.000      -1.080      -0.827
 country_60            -1.6767      0.058    -28.825      0.000      -1.791      -1.563
 country_62            -1.4918      0.048    -31.110      0.000      -1.586      -1.398
 country_63            -1.7470      0.049    -35.737      0.000      -1.843      -1.651
 country_64            -2.4051      0.051    -47.373      0.000      -2.505      -2.306
 country_65            -3.3367      0.062    -53.772      0.000      -3.458      -3.215
 country_66            -2.8250      0.047    -60.569      0.000      -2.916      -2.734
 country_67            -1.8806      0.059    -31.804      0.000      -1.997      -1.765
 country_69            -0.5138      0.066     -7.825      0.000      -0.643      -0.385
 country_70             0.1445      0.066      2.174      0.030       0.014       0.275
 country_73            -1.7678      0.052    -33.895      0.000      -1.870      -1.666
 country_74            -0.2180      0.063     -3.461      0.001      -0.341      -0.094
 country_76             1.2337      0.042     29.296      0.000       1.151       1.316
 country_77             1.2513      0.038     33.321      0.000       1.178       1.325
 country_78            -0.2883      0.077     -3.756      0.000      -0.439      -0.138
 country_79            -1.1098      0.076    -14.549      0.000      -1.259      -0.960
 country_80             0.6157      0.039     15.963      0.000       0.540       0.691
 country_81            -0.3782      0.068     -5.587      0.000      -0.511      -0.245
 country_82            -1.4923      0.046    -32.440      0.000      -1.582      -1.402
 country_83            -2.2215      0.046    -47.873      0.000      -2.312      -2.130
 country_84            -2.2418      0.043    -51.872      0.000      -2.327      -2.157
 country_85            -3.5306      0.048    -72.821      0.000      -3.626      -3.436
 country_86            -1.4693      0.043    -34.032      0.000      -1.554      -1.385
 country_87            -0.9742      0.049    -19.970      0.000      -1.070      -0.879
 country_89            -2.0650      0.047    -43.885      0.000      -2.157      -1.973
 country_90            -1.8766      0.045    -41.762      0.000      -1.965      -1.789
 country_92            -1.5083      0.048    -31.396      0.000      -1.603      -1.414
 country_93            -2.7997      0.045    -62.490      0.000      -2.888      -2.712
 country_94            -1.6943      0.044    -38.239      0.000      -1.781      -1.607
 country_96            -2.4076      0.057    -42.162      0.000      -2.520      -2.296
 country_97            -2.5649      0.046    -55.398      0.000      -2.656      -2.474
 country_98            -2.9801      0.045    -66.416      0.000      -3.068      -2.892
 country_99            -2.3291      0.048    -48.518      0.000      -2.423      -2.235
 country_100           -2.5405      0.045    -55.893      0.000      -2.630      -2.451
 country_101           -3.1993      0.052    -61.415      0.000      -3.301      -3.097
 country_102           -2.1541      0.044    -49.404      0.000      -2.240      -2.069
 country_103           -2.2225      0.044    -50.131      0.000      -2.309      -2.136
 country_104           -2.6737      0.046    -58.355      0.000      -2.764      -2.584
 country_105           -3.5319      0.049    -72.789      0.000      -3.627      -3.437
 country_107           -1.3918      0.065    -21.258      0.000      -1.520      -1.263
 country_108           -2.8112      0.046    -60.927      0.000      -2.902      -2.721
 country_109           -2.3560      0.050    -47.059      0.000      -2.454      -2.258
 country_110           -2.7211      0.050    -54.771      0.000      -2.818      -2.624
 country_111           -1.7654      0.043    -40.622      0.000      -1.851      -1.680
 country_112           -2.6114      0.047    -55.676      0.000      -2.703      -2.519
 country_113           -1.6443      0.042    -38.835      0.000      -1.727      -1.561
 country_114           -1.9948      0.043    -46.690      0.000      -2.079      -1.911
 country_115           -1.3582      0.048    -28.074      0.000      -1.453      -1.263
 country_116           -2.3101      0.051    -45.342      0.000      -2.410      -2.210
 country_117           -2.9872      0.067    -44.526      0.000      -3.119      -2.856
 country_118           -0.2323      0.043     -5.430      0.000      -0.316      -0.148
 country_119           -1.3424      0.044    -30.469      0.000      -1.429      -1.256
 country_120           -0.1413      0.075     -1.881      0.060      -0.289       0.006
 country_121           -2.5180      0.058    -43.400      0.000      -2.632      -2.404
 country_122           -0.6517      0.048    -13.649      0.000      -0.745      -0.558
 country_123           -1.9071      0.064    -29.624      0.000      -2.033      -1.781
 country_124           -1.0150      0.062    -16.462      0.000      -1.136      -0.894
 country_125           -1.2726      0.047    -26.983      0.000      -1.365      -1.180
 country_126           -0.9722      0.051    -19.085      0.000      -1.072      -0.872
 country_127           -1.0557      0.046    -22.705      0.000      -1.147      -0.965
 country_128           -2.4462      0.062    -39.505      0.000      -2.568      -2.325
 country_129           -1.3216      0.047    -28.157      0.000      -1.414      -1.230
 country_130           -0.9833      0.055    -18.024      0.000      -1.090      -0.876
 country_131           -2.2094      0.047    -46.523      0.000      -2.303      -2.116
 country_132           -1.8196      0.047    -38.615      0.000      -1.912      -1.727
 country_133           -1.0058      0.080    -12.551      0.000      -1.163      -0.849
 country_134           -1.2764      0.060    -21.353      0.000      -1.394      -1.159
 country_135           -1.5607      0.076    -20.655      0.000      -1.709      -1.413
 country_136           -1.7875      0.086    -20.897      0.000      -1.955      -1.620
 country_137           -1.0625      0.065    -16.317      0.000      -1.190      -0.935
 country_138           -2.2104      0.086    -25.618      0.000      -2.380      -2.041
 country_139            0.1986      0.042      4.725      0.000       0.116       0.281
 country_140           -0.5286      0.054     -9.760      0.000      -0.635      -0.422
 country_142           -4.0252      0.051    -78.372      0.000      -4.126      -3.924
 country_143           -6.3073      0.418    -15.073      0.000      -7.128      -5.487
 country_144            1.4514      0.061     23.689      0.000       1.331       1.572
 country_145           -2.3725      0.071    -33.292      0.000      -2.512      -2.233
 country_146           -3.3995      0.049    -69.591      0.000      -3.495      -3.304
 country_147           -1.2553      0.068    -18.332      0.000      -1.390      -1.121
 country_148           -0.4319      0.056     -7.648      0.000      -0.543      -0.321
 country_149           -1.5564      0.080    -19.461      0.000      -1.713      -1.400
 country_150           -2.8697      0.062    -46.558      0.000      -2.991      -2.749
 country_151           -2.7700      0.073    -37.695      0.000      -2.914      -2.626
 country_152            1.2145      0.041     29.268      0.000       1.133       1.296
 country_153            0.7105      0.039     18.105      0.000       0.634       0.787
 country_154            0.1623      0.042      3.840      0.000       0.079       0.245
 country_155           -0.5191      0.076     -6.829      0.000      -0.668      -0.370
 country_156           -0.6946      0.071     -9.831      0.000      -0.833      -0.556
 country_157           -0.5781      0.065     -8.933      0.000      -0.705      -0.451
 country_158           -0.6675      0.063    -10.605      0.000      -0.791      -0.544
 country_159            0.6454      0.044     14.798      0.000       0.560       0.731
 country_160            0.2890      0.053      5.470      0.000       0.185       0.393
 country_161           -0.8415      0.079    -10.598      0.000      -0.997      -0.686
 country_162           -0.7432      0.079     -9.380      0.000      -0.899      -0.588
 country_163           -1.3562      0.058    -23.381      0.000      -1.470      -1.242
 country_164            0.7189      0.042     17.158      0.000       0.637       0.801
 country_165           -0.2852      0.059     -4.805      0.000      -0.402      -0.169
 country_166           -0.1669      0.050     -3.341      0.001      -0.265      -0.069
 country_167           -1.2058      0.090    -13.425      0.000      -1.382      -1.030
 country_168           -0.4592      0.041    -11.284      0.000      -0.539      -0.379
 country_169            0.3370      0.042      8.097      0.000       0.255       0.419
 country_170            0.0171      0.043      0.396      0.692      -0.068       0.102
 country_171           -2.0130      0.046    -43.508      0.000      -2.104      -1.922
 country_172           -1.1185      0.078    -14.310      0.000      -1.272      -0.965
 country_173           -0.9463      0.041    -22.871      0.000      -1.027      -0.865
 country_174            0.2957      0.051      5.755      0.000       0.195       0.396
 country_176            0.3857      0.049      7.951      0.000       0.291       0.481
 country_177           -2.8653      0.047    -61.396      0.000      -2.957      -2.774
 country_178            1.9527      0.051     38.108      0.000       1.852       2.053
 country_179           -0.6133      0.054    -11.381      0.000      -0.719      -0.508
 country_180           -0.2527      0.041     -6.182      0.000      -0.333      -0.173
 country_181            1.7988      0.048     37.368      0.000       1.704       1.893
 country_182            0.2235      0.039      5.758      0.000       0.147       0.300
 country_183           -2.9685      0.047    -63.492      0.000      -3.060      -2.877
 country_184           -3.6260      0.049    -73.724      0.000      -3.722      -3.530
 country_199           -3.9516      0.085    -46.512      0.000      -4.118      -3.785
 country_205           -2.8785      0.052    -55.631      0.000      -2.980      -2.777
 country_206           -2.6073      0.047    -54.977      0.000      -2.700      -2.514
 country_208           -2.6310      0.112    -23.527      0.000      -2.850      -2.412
 country_209           -2.6679      0.078    -34.007      0.000      -2.822      -2.514
 country_213           -1.3753      0.044    -31.285      0.000      -1.461      -1.289
 country_214           -0.0897      0.070     -1.289      0.197      -0.226       0.047
 country_218           -2.4501      0.045    -54.116      0.000      -2.539      -2.361
 country_220           -2.0425      0.066    -30.787      0.000      -2.173      -1.912
 country_222           -2.2775      0.068    -33.556      0.000      -2.411      -2.144
 country_223           -2.8820      0.102    -28.388      0.000      -3.081      -2.683
 country_230           -2.4617      0.092    -26.804      0.000      -2.642      -2.282
 country_231           -1.3532      0.046    -29.561      0.000      -1.443      -1.263
 country_233           -2.3615      0.054    -43.379      0.000      -2.468      -2.255
 country_234           -3.7140      0.053    -69.968      0.000      -3.818      -3.610
 country_235           -1.1256      0.076    -14.719      0.000      -1.276      -0.976
 country_237           -1.4030      0.071    -19.757      0.000      -1.542      -1.264
 country_242           -1.3103      0.079    -16.615      0.000      -1.465      -1.156
 country_243           -1.8366      0.063    -29.006      0.000      -1.961      -1.712
 country_244           -0.2909      0.052     -5.579      0.000      -0.393      -0.189
 country_245           -1.0206      0.076    -13.491      0.000      -1.169      -0.872
 country_246           -0.1787      0.074     -2.430      0.015      -0.323      -0.035
 ==============================================================================
 Omnibus:                      542.674   Durbin-Watson:                   1.465
 Prob(Omnibus):                  0.000   Jarque-Bera (JB):             3271.811
 Skew:                           0.667   Prob(JB):                         0.00
 Kurtosis:                       7.780   Cond. No.                     1.36e+05
 ==============================================================================

 Notes:
 [1] R² is computed without centering (uncentered) since the model does not contain a constant.
 [2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
 [3] The condition number is large, 1.36e+05. This might indicate that there are
 strong multicollinearity or other numerical problems.
 """}