In [21]:
import pandas as pd
import statsmodels.api as sm
from statsmodels.regression.mixed_linear_model import MixedLM
import matplotlib.pyplot as plt
from scipy import stats
from viewser.operations import fetch
from viewser import Queryset, Column
import subprocess

In [22]:
df = Queryset("month_to_annual_moving_sum", "country_month").fetch()
df = df.query('month_id > 240 & month_id < 511')
df = df.query('country_id != [239,240,208,230,59]')
# Remove countries that don't exist anymore
df = df.query('country_id!=185')  # German Democratic Republic
# Remove country months that have value zero for dependent variable
df = df.query('wdi_sh_dyn_mort_fe!=0')
fixed_effect_column = 'country_id'
df[fixed_effect_column] = df.index.get_level_values(fixed_effect_column)
fixed_effect_column = 'month_id'
df[fixed_effect_column] = df.index.get_level_values(fixed_effect_column)

 .

In [23]:
independent_variable = ['wdi_ny_gdp_mktp_kd', 'wdi_sp_pop_totl', 'ged_sb_tlag1', 'ged_sb_tlag2', 'ged_sb_tlag3', 'ged_sb_tlag4', 'ged_sb_tlag5', 'ged_sb_tlag6', 'ged_sb_tlag7', 'ged_sb_tlag8', 'ged_sb_tlag9', 'ged_sb_tlag10', 'ged_sb_tlag11', 'ged_sb_tlag12', 'ged_sb_tlag13', 'ged_sb_tlag14', 'ged_sb_tlag15', 'ged_sb_tlag16', 'ged_sb_tlag17',
                        'ged_sb_tlag18', 'ged_sb_tlag19', 'ged_sb_tlag20', 'ged_sb_tlag21', 'ged_sb_tlag22', 'ged_sb_tlag23', 'ged_sb_tlag24', 'ged_sb_tlag25', 'ged_sb_tlag26', 'ged_sb_tlag27', 'ged_sb_tlag28', 'ged_sb_tlag29', 'ged_sb_tlag30', 'ged_sb_tlag31', 'ged_sb_tlag32', 'ged_sb_tlag33', 'ged_sb_tlag34', 'ged_sb_tlag35', 'ged_sb_tlag36','country_id','month_id','ged_sb_nolag']
dependent_variable = 'wdi_sh_dyn_mort_fe'

In [24]:
df[independent_variable]

                     wdi_ny_gdp_mktp_kd  wdi_sp_pop_totl  ged_sb_tlag1  \
month_id country_id
241      1                    21.779484        13.539826      0.000000
         2                    21.795169        13.079454      0.000000
         3                    23.309243        14.102345      0.000000
         4                     0.000000        17.011230      0.000000
         5                    20.098032        12.122740      0.000000
...                                 ...              ...           ...
510      242                  24.884573        17.967941      4.969813
         243                  25.542467        17.428496      4.852030
         244                  22.728763        15.344817      0.000000
         245                  25.101865        17.636672      4.276666
         246                  23.207989        16.190256     17.794711

                     ged_sb_tlag2  ged_sb_tlag3  ged_sb_tlag4  ged_sb_tlag5  \
month_id country_id
241      1               0.000000      0.000000      0.000000      0.000000
         2               0.000000      0.000000      0.000000      0.000000
         3               0.000000      0.000000      0.000000      0.000000
         4               0.000000      0.000000      0.000000      0.000000
         5               0.000000      0.000000      0.000000      0.000000
...                           ...           ...           ...           ...
510      242             4.969813      4.969813      4.969813      4.969813
         243             4.852030      4.852030      4.852030      4.852030
         244             0.000000      0.000000      0.000000      0.000000
         245             4.276666      4.276666      4.276666      4.276666
         246            20.097296     20.097296     21.706734     21.013587

                     ged_sb_tlag6  ged_sb_tlag7  ged_sb_tlag8  ...  \
month_id country_id                                            ...
241      1               0.000000      0.000000      0.000000  ...
         2               0.000000      0.000000      0.000000  ...
         3               0.000000      0.000000      0.000000  ...
         4               0.000000      0.000000      0.000000  ...
         5               0.000000      0.000000      0.000000  ...
...                           ...           ...           ...  ...
510      242             4.969813      2.890372      1.791759  ...
         243             2.772589      2.772589      2.484907  ...
         244             0.000000      0.000000      0.000000  ...
         245             6.984716      6.984716      6.984716  ...
         246            21.013587     16.886452     19.371359  ...

                     ged_sb_tlag30  ged_sb_tlag31  ged_sb_tlag32  \
month_id country_id
241      1                0.000000       0.000000       0.000000
         2                0.000000       0.000000       0.000000
         3                0.000000       0.000000       0.000000
         4                0.000000       0.000000       0.000000
         5                0.000000       0.000000       0.000000
...                            ...            ...            ...
510      242              0.000000       0.000000       0.000000
         243              0.000000       0.000000       0.000000
         244              0.000000       0.000000       0.000000
         245              6.109248       8.411833      12.240474
         246             20.620358      24.309238      24.309238

                     ged_sb_tlag33  ged_sb_tlag34  ged_sb_tlag35  \
month_id country_id
241      1                0.000000       0.000000       0.000000
         2                0.000000       0.000000       0.000000
         3                0.000000       0.000000       0.000000
         4                0.000000       0.000000       0.000000
         5                0.000000       0.000000       0.000000
...                            ...            ...            ...
510      242              0.000000       0.000000       0.000000
         243              0.000000       0.000000       0.000000
         244              0.000000       0.000000       0.000000
         245             13.849912      17.781738      19.168032
         246             23.461940      23.886823      24.898424

                     ged_sb_tlag36  country_id  month_id  ged_sb_nolag
month_id country_id
241      1                0.000000           1       241       0.00000
         2                0.000000           2       241       0.00000
         3                0.000000           3       241       0.00000
         4                0.000000           4       241       0.00000
         5                0.000000           5       241       0.00000
...                            ...         ...       ...           ...
510      242              0.000000         242       510       0.00000
         243              0.000000         243       510       0.00000
         244              0.000000         244       510       0.00000
         245             22.112471         245       510       0.00000
         246             25.186106         246       510       1.94591

[50513 rows x 41 columns]

In [25]:
from theClass import *

In [26]:
from sklearn.model_selection import train_test_split

# Assuming X and y are your independent and dependent variables respectively
X_train, X_test, y_train, y_test = train_test_split(
    df[independent_variable], df[dependent_variable], test_size=0.2, random_state=42)

# Create an instance with a specific algorithm
model = MotanRegression('XGBRegressor')

In [27]:
y_train

month_id  country_id
353       30            1.916923
286       169           4.294561
460       69            4.280824
359       27            2.923162
500       62            2.646175
                          ...
302       74            4.753590
480       89            1.960095
445       133           4.127134
245       153           3.529297
326       143           3.397858
Name: wdi_sh_dyn_mort_fe, Length: 40410, dtype: float64

In [28]:
X_train

,,wdi_ny_gdp_mktp_kd,wdi_sp_pop_totl,ged_sb_tlag1,ged_sb_tlag2,ged_sb_tlag3,ged_sb_tlag4,ged_sb_tlag5,ged_sb_tlag6,ged_sb_tlag7,ged_sb_tlag8,...,ged_sb_tlag30,ged_sb_tlag31,ged_sb_tlag32,ged_sb_tlag33,ged_sb_tlag34,ged_sb_tlag35,ged_sb_tlag36,country_id,month_id,ged_sb_nolag
month_id,country_id,,,,,,,,,,,,,,,,,,,,,
353,30,25.028787,16.238824,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,30,353,0.000000
286,169,23.035154,14.136433,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,169,286,0.000000
460,69,24.313501,17.037452,30.450724,29.791478,28.518512,26.860284,24.027071,23.413966,24.577117,24.353974,...,37.418486,41.419740,43.109221,43.495994,43.090529,45.324121,47.316551,69,460,4.077537
359,27,21.349698,12.657696,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,27,359,0.000000
500,62,24.464679,16.226796,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,62,500,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
302,74,22.742461,15.913457,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,74,302,0.000000
480,89,24.774081,15.757952,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,89,480,0.000000
445,133,23.767383,17.389075,87.068329,87.160372,86.841207,86.641380,86.608917,86.413058,86.234557,86.173299,...,76.726898,76.921054,77.040807,77.368974,77.242715,77.395822,77.228571,133,445,7.126891
245,153,19.554979,11.623662,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,153,245,0.000000
326,143,0.000000,17.008310,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,143,326,0.000000

In [29]:
X_train.query('month_id % 12 == 0')

,,wdi_ny_gdp_mktp_kd,wdi_sp_pop_totl,ged_sb_tlag1,ged_sb_tlag2,ged_sb_tlag3,ged_sb_tlag4,ged_sb_tlag5,ged_sb_tlag6,ged_sb_tlag7,ged_sb_tlag8,...,ged_sb_tlag30,ged_sb_tlag31,ged_sb_tlag32,ged_sb_tlag33,ged_sb_tlag34,ged_sb_tlag35,ged_sb_tlag36,country_id,month_id,ged_sb_nolag
month_id,country_id,,,,,,,,,,,,,,,,,,,,,
336,30,24.974035,16.237645,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,30,336,0.0
360,83,23.433950,15.170766,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,83,360,0.0
408,47,23.113265,16.685476,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,47,408,0.0
324,130,24.865117,13.830459,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,130,324,0.0
252,98,25.561652,16.143282,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,98,252,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300,183,27.878367,17.279390,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,183,300,0.0
288,179,23.141264,15.622320,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,179,288,0.0
348,2,22.197387,13.188037,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2,348,0.0
336,43,21.469134,15.105498,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,43,336,0.0
480,89,24.774081,15.757952,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,89,480,0.0

In [30]:
model.fit(X_train, y_train)

/Users/noorainkazmi/miniforge3/envs/viewser/lib/python3.9/site-packages/xgboost/data.py:297: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(dtype):
/Users/noorainkazmi/miniforge3/envs/viewser/lib/python3.9/site-packages/xgboost/data.py:299: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  elif is_categorical_dtype(dtype) and enable_categorical:

/Users/noorainkazmi/miniforge3/envs/viewser/lib/python3.9/site-packages/xgboost/data.py:364: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(data):

MotanRegression(reg_name='XGBRegressor')

In [31]:
from sklearn.utils.validation import check_is_fitted

predictions = model.predict(X_test)

/Users/noorainkazmi/miniforge3/envs/viewser/lib/python3.9/site-packages/xgboost/data.py:297: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(dtype):

/Users/noorainkazmi/miniforge3/envs/viewser/lib/python3.9/site-packages/xgboost/data.py:299: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  elif is_categorical_dtype(dtype) and enable_categorical:

In [32]:
predictions

array([3.8599923, 2.1096075, 1.9183037, ..., 2.7897387, 3.513937 ,
       3.4430902], dtype=float32)

In [33]:
len(predictions)

10103

In [34]:
df = Queryset("month_to_annual_moving_sum", "country_month").fetch()
df = df.query('country_id != [239,240,208,230,59]')
# Remove countries that don't exist anymore
df = df.query('country_id!=185')  # German Democratic Republic
# Remove country months that have value zero for dependent variable
df = df.query('wdi_sh_dyn_mort_fe!=0')
fixed_effect_column = 'country_id'
df[fixed_effect_column] = df.index.get_level_values(fixed_effect_column)
fixed_effect_column = 'month_id'
df[fixed_effect_column] = df.index.get_level_values(fixed_effect_column)

 .

In [35]:
model.predict(df[independent_variable].query('month_id > 517'))

/Users/noorainkazmi/miniforge3/envs/viewser/lib/python3.9/site-packages/xgboost/data.py:297: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(dtype):
/Users/noorainkazmi/miniforge3/envs/viewser/lib/python3.9/site-packages/xgboost/data.py:299: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  elif is_categorical_dtype(dtype) and enable_categorical:

array([3.0386906, 2.7429001, 2.7421808, ..., 3.736035 , 3.782715 ,
       3.997299 ], dtype=float32)