In [22]:
import pandas as pd
import statsmodels.api as sm
from statsmodels.regression.mixed_linear_model import MixedLM
import matplotlib.pyplot as plt
from scipy import stats
from viewser.operations import fetch
from viewser import Queryset, Column
import subprocess

In [23]:
data = Queryset("month_to_annual", "country_month").fetch()

 .

In [24]:
data

                            country_name  wdi_sh_dyn_mort_fe  \
month_id country_id
1        1                        Guyana            4.151040
         2                      Suriname            3.953165
         3           Trinidad and Tobago            3.616309
         4                     Venezuela            3.711130
         5                         Samoa            3.718438
...                                  ...                 ...
852      242                    Tanzania            3.793239
         243                     Morocco            2.844909
         244                  Mauritania            3.616309
         245                       Sudan            3.927896
         246                 South Sudan            4.552824

                     wdi_ny_gdp_mktp_kd  wdi_sp_pop_totl  ged_sb_tlag1  \
month_id country_id
1        1                    21.645497        13.564709           0.0
         2                    21.704949        12.834983           0.0
         3                    22.994549        13.935826           0.0
         4                     0.000000        16.537493           0.0
         5                    19.784920        12.013131           0.0
...                                 ...              ...           ...
852      242                  24.884573        17.967941           0.0
         243                  25.542467        17.428496           0.0
         244                  22.728763        15.344817           0.0
         245                  25.101865        17.636672           0.0
         246                  23.207989        16.190256           0.0

                     ged_sb_tlag2  ged_sb_tlag3  ged_sb_tlag4  ged_sb_tlag5  \
month_id country_id
1        1                    0.0           0.0           0.0           0.0
         2                    0.0           0.0           0.0           0.0
         3                    0.0           0.0           0.0           0.0
         4                    0.0           0.0           0.0           0.0
         5                    0.0           0.0           0.0           0.0
...                           ...           ...           ...           ...
852      242                  0.0           0.0           0.0           0.0
         243                  0.0           0.0           0.0           0.0
         244                  0.0           0.0           0.0           0.0
         245                  0.0           0.0           0.0           0.0
         246                  0.0           0.0           0.0           0.0

                     ged_sb_tlag6  ...  ged_sb_tlag27  ged_sb_tlag28  \
month_id country_id                ...
1        1                    0.0  ...            0.0            0.0
         2                    0.0  ...            0.0            0.0
         3                    0.0  ...            0.0            0.0
         4                    0.0  ...            0.0            0.0
         5                    0.0  ...            0.0            0.0
...                           ...  ...            ...            ...
852      242                  0.0  ...            0.0            0.0
         243                  0.0  ...            0.0            0.0
         244                  0.0  ...            0.0            0.0
         245                  0.0  ...            0.0            0.0
         246                  0.0  ...            0.0            0.0

                     ged_sb_tlag29  ged_sb_tlag30  ged_sb_tlag31  \
month_id country_id
1        1                     0.0            0.0            0.0
         2                     0.0            0.0            0.0
         3                     0.0            0.0            0.0
         4                     0.0            0.0            0.0
         5                     0.0            0.0            0.0
...                            ...            ...            ...
852      242                   0.0            0.0            0.0
         243                   0.0            0.0            0.0
         244                   0.0            0.0            0.0
         245                   0.0            0.0            0.0
         246                   0.0            0.0            0.0

                     ged_sb_tlag32  ged_sb_tlag33  ged_sb_tlag34  \
month_id country_id
1        1                     0.0            0.0            0.0
         2                     0.0            0.0            0.0
         3                     0.0            0.0            0.0
         4                     0.0            0.0            0.0
         5                     0.0            0.0            0.0
...                            ...            ...            ...
852      242                   0.0            0.0            0.0
         243                   0.0            0.0            0.0
         244                   0.0            0.0            0.0
         245                   0.0            0.0            0.0
         246                   0.0            0.0            0.0

                     ged_sb_tlag35  ged_sb_tlag36
month_id country_id
1        1                     0.0            0.0
         2                     0.0            0.0
         3                     0.0            0.0
         4                     0.0            0.0
         5                     0.0            0.0
...                            ...            ...
852      242                   0.0            0.0
         243                   0.0            0.0
         244                   0.0            0.0
         245                   0.0            0.0
         246                   0.0            0.0

[158230 rows x 40 columns]

In [25]:
df = data.query('month_id % 12 == 0')

In [26]:
independent_variable = ['wdi_ny_gdp_mktp_kd', 'wdi_sp_pop_totl', 'ged_sb_tlag1', 'ged_sb_tlag2', 'ged_sb_tlag3', 'ged_sb_tlag4', 'ged_sb_tlag5', 'ged_sb_tlag6', 'ged_sb_tlag7', 'ged_sb_tlag8', 'ged_sb_tlag9', 'ged_sb_tlag10', 'ged_sb_tlag11', 'ged_sb_tlag12', 'ged_sb_tlag13', 'ged_sb_tlag14', 'ged_sb_tlag15', 'ged_sb_tlag16', 'ged_sb_tlag17',
                        'ged_sb_tlag18', 'ged_sb_tlag19', 'ged_sb_tlag20', 'ged_sb_tlag21', 'ged_sb_tlag22', 'ged_sb_tlag23', 'ged_sb_tlag24', 'ged_sb_tlag25', 'ged_sb_tlag26', 'ged_sb_tlag27', 'ged_sb_tlag28', 'ged_sb_tlag29', 'ged_sb_tlag30', 'ged_sb_tlag31', 'ged_sb_tlag32', 'ged_sb_tlag33', 'ged_sb_tlag34', 'ged_sb_tlag35', 'ged_sb_tlag36']
dependent_variable = 'wdi_sh_dyn_mort_fe'

In [27]:
df[independent_variable]

                     wdi_ny_gdp_mktp_kd  wdi_sp_pop_totl  ged_sb_tlag1  \
month_id country_id
12       1                    21.645497        13.564709           0.0
         2                    21.704949        12.834983           0.0
         3                    22.994549        13.935826           0.0
         4                     0.000000        16.537493           0.0
         5                    19.784920        12.013131           0.0
...                                 ...              ...           ...
852      242                  24.884573        17.967941           0.0
         243                  25.542467        17.428496           0.0
         244                  22.728763        15.344817           0.0
         245                  25.101865        17.636672           0.0
         246                  23.207989        16.190256           0.0

                     ged_sb_tlag2  ged_sb_tlag3  ged_sb_tlag4  ged_sb_tlag5  \
month_id country_id
12       1                    0.0           0.0           0.0           0.0
         2                    0.0           0.0           0.0           0.0
         3                    0.0           0.0           0.0           0.0
         4                    0.0           0.0           0.0           0.0
         5                    0.0           0.0           0.0           0.0
...                           ...           ...           ...           ...
852      242                  0.0           0.0           0.0           0.0
         243                  0.0           0.0           0.0           0.0
         244                  0.0           0.0           0.0           0.0
         245                  0.0           0.0           0.0           0.0
         246                  0.0           0.0           0.0           0.0

                     ged_sb_tlag6  ged_sb_tlag7  ged_sb_tlag8  ...  \
month_id country_id                                            ...
12       1                    0.0           0.0           0.0  ...
         2                    0.0           0.0           0.0  ...
         3                    0.0           0.0           0.0  ...
         4                    0.0           0.0           0.0  ...
         5                    0.0           0.0           0.0  ...
...                           ...           ...           ...  ...
852      242                  0.0           0.0           0.0  ...
         243                  0.0           0.0           0.0  ...
         244                  0.0           0.0           0.0  ...
         245                  0.0           0.0           0.0  ...
         246                  0.0           0.0           0.0  ...

                     ged_sb_tlag27  ged_sb_tlag28  ged_sb_tlag29  \
month_id country_id
12       1                     0.0            0.0            0.0
         2                     0.0            0.0            0.0
         3                     0.0            0.0            0.0
         4                     0.0            0.0            0.0
         5                     0.0            0.0            0.0
...                            ...            ...            ...
852      242                   0.0            0.0            0.0
         243                   0.0            0.0            0.0
         244                   0.0            0.0            0.0
         245                   0.0            0.0            0.0
         246                   0.0            0.0            0.0

                     ged_sb_tlag30  ged_sb_tlag31  ged_sb_tlag32  \
month_id country_id
12       1                     0.0            0.0            0.0
         2                     0.0            0.0            0.0
         3                     0.0            0.0            0.0
         4                     0.0            0.0            0.0
         5                     0.0            0.0            0.0
...                            ...            ...            ...
852      242                   0.0            0.0            0.0
         243                   0.0            0.0            0.0
         244                   0.0            0.0            0.0
         245                   0.0            0.0            0.0
         246                   0.0            0.0            0.0

                     ged_sb_tlag33  ged_sb_tlag34  ged_sb_tlag35  \
month_id country_id
12       1                     0.0            0.0            0.0
         2                     0.0            0.0            0.0
         3                     0.0            0.0            0.0
         4                     0.0            0.0            0.0
         5                     0.0            0.0            0.0
...                            ...            ...            ...
852      242                   0.0            0.0            0.0
         243                   0.0            0.0            0.0
         244                   0.0            0.0            0.0
         245                   0.0            0.0            0.0
         246                   0.0            0.0            0.0

                     ged_sb_tlag36
month_id country_id
12       1                     0.0
         2                     0.0
         3                     0.0
         4                     0.0
         5                     0.0
...                            ...
852      242                   0.0
         243                   0.0
         244                   0.0
         245                   0.0
         246                   0.0

[13203 rows x 38 columns]

In [28]:
from theClass import *

In [29]:
from sklearn.model_selection import train_test_split

# Assuming X and y are your independent and dependent variables respectively
X_train, X_test, y_train, y_test = train_test_split(
    df[independent_variable], df[dependent_variable], test_size=0.2, random_state=42)

# Create an instance of MonthToAnnual
model = MonthToAnnual(model_type='or')  # Use 'or' for Ordinary Least Squares

In [30]:
model

MonthToAnnual()

In [31]:
X_test

                     wdi_ny_gdp_mktp_kd  wdi_sp_pop_totl  ged_sb_tlag1  \
month_id country_id
96       236                  23.238366        16.997698      0.000000
360      164                  21.944123        13.906162      0.000000
576      176                  21.724811        14.093856      0.000000
660      123                  25.478491        17.368430      0.000000
816      41                   24.902909        17.128905      0.000000
...                                 ...              ...           ...
180      222                  25.592148        17.955081      1.386294
12       136                  24.714452        18.205308      0.000000
180      120                  22.182305        15.755665      2.564949
         171                  25.311301        15.101985      0.000000
564      102                  25.318764        15.510621      0.000000

                     ged_sb_tlag2  ged_sb_tlag3  ged_sb_tlag4  ged_sb_tlag5  \
month_id country_id
96       236             0.000000      0.000000      0.000000      0.000000
360      164             0.000000      0.000000      0.000000      0.000000
576      176             0.000000      0.000000      0.000000      0.000000
660      123             0.000000      0.000000      0.000000      0.000000
816      41              0.000000      0.000000      0.000000      0.000000
...                           ...           ...           ...           ...
180      222             2.833213      2.944439      2.397895      0.693147
12       136             0.000000      0.000000      0.000000      0.000000
180      120             3.637586      0.000000      0.000000      3.713572
         171             0.000000      0.000000      0.000000      0.000000
564      102             0.000000      0.000000      0.000000      0.000000

                     ged_sb_tlag6  ged_sb_tlag7  ged_sb_tlag8  ...  \
month_id country_id                                            ...
96       236             0.000000           0.0      0.000000  ...
360      164             0.000000           0.0      0.000000  ...
576      176             0.000000           0.0      0.000000  ...
660      123             0.000000           0.0      0.000000  ...
816      41              0.000000           0.0      0.000000  ...
...                           ...           ...           ...  ...
180      222             0.000000           0.0      3.044522  ...
12       136             0.000000           0.0      0.000000  ...
180      120             2.944439           0.0      0.000000  ...
         171             0.000000           0.0      0.000000  ...
564      102             0.000000           0.0      0.000000  ...

                     ged_sb_tlag27  ged_sb_tlag28  ged_sb_tlag29  \
month_id country_id
96       236              0.000000       0.000000            0.0
360      164              0.000000       0.000000            0.0
576      176              0.000000       0.000000            0.0
660      123              0.000000       0.000000            0.0
816      41               0.000000       0.000000            0.0
...                            ...            ...            ...
180      222              0.000000       2.079442            0.0
12       136              0.000000       0.000000            0.0
180      120              1.386294       0.000000            0.0
         171              0.000000       0.000000            0.0
564      102              0.000000       0.000000            0.0

                     ged_sb_tlag30  ged_sb_tlag31  ged_sb_tlag32  \
month_id country_id
96       236                   0.0            0.0            0.0
360      164                   0.0            0.0            0.0
576      176                   0.0            0.0            0.0
660      123                   0.0            0.0            0.0
816      41                    0.0            0.0            0.0
...                            ...            ...            ...
180      222                   0.0            0.0            0.0
12       136                   0.0            0.0            0.0
180      120                   0.0            0.0            0.0
         171                   0.0            0.0            0.0
564      102                   0.0            0.0            0.0

                     ged_sb_tlag33  ged_sb_tlag34  ged_sb_tlag35  \
month_id country_id
96       236              0.000000       0.000000       0.000000
360      164              0.000000       0.000000       0.000000
576      176              0.000000       0.000000       0.000000
660      123              0.000000       0.000000       0.000000
816      41               0.000000       0.000000       0.000000
...                            ...            ...            ...
180      222              0.000000       0.000000       0.000000
12       136              0.000000       0.000000       0.000000
180      120              1.098612       5.010635       6.908755
         171              0.000000       0.000000       0.000000
564      102              0.000000       0.000000       0.000000

                     ged_sb_tlag36
month_id country_id
96       236              0.000000
360      164              0.000000
576      176              0.000000
660      123              0.000000
816      41               0.000000
...                            ...
180      222              0.000000
12       136              0.000000
180      120              7.586296
         171              0.000000
564      102              0.000000

[2641 rows x 38 columns]

In [32]:
y_test

month_id  country_id
96        236           5.129899
360       164           4.534748
576       176           3.854394
660       123           2.580217
816       41            4.215086
                          ...
180       222           4.241327
12        136           5.102911
180       120           5.115596
          171           2.208274
564       102           1.808289
Name: wdi_sh_dyn_mort_fe, Length: 2641, dtype: float64

In [33]:
model.fit(X_train, y_train)

MonthToAnnual()

In [34]:
from sklearn.utils.validation import check_is_fitted

predictions = model.predict(X_test)

In [35]:
predictions

month_id  country_id
96        236           3.392436
360       164           2.884821
576       176           2.947859
660       123           3.227802
816       41            3.239883
                          ...
180       222           3.636237
12        136           3.485747
180       120           4.477526
          171           2.771121
564       102           2.855913
Length: 2641, dtype: float64

In [36]:
from olsClass import *

In [37]:
X_train, X_test, y_train, y_test = train_test_split(
    df[independent_variable], df[dependent_variable], test_size=0.2, random_state=42)

# Creating an instance of the OLSRegressor class
ols_regressor = OLSRegressor()

# Fitting the model on the training data
ols_regressor.fit(X_train, y_train)

# Making predictions on the test set
predictions = ols_regressor.predict(X_test)

# Evaluation metrics
mse = mean_squared_error(y_test, predictions)
r_squared = r2_score(y_test, predictions)

print(f"Mean Squared Error: {mse}")
print(f"R-squared: {r_squared}")

/Users/noorainkazmi/miniforge3/envs/viewser/lib/python3.9/site-packages/sklearn/base.py:457: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  warnings.warn(

NameError: name 'mean_squared_error' is not defined

In [ ]:
predictions

array([3.39243634, 2.88482088, 2.9478592 , ..., 4.47752625, 2.7711206 ,
       2.85591273])

In [ ]:
predictions = ols_regressor.predict(df[independent_variable])

/Users/noorainkazmi/miniforge3/envs/viewser/lib/python3.9/site-packages/sklearn/base.py:457: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  warnings.warn(

In [ ]:
len(predictions)

13203

In [ ]:
ols_regressor.plot_predictions_by_country(
    X_test, y_test, country_id=12)

KeyError: 'country_id'