In [42]:
from viewser.operations import fetch
from viewser import Queryset, Column

#some extra functions for some of the later demonstration
import pandas as pd
import numpy as np
import subprocess

import statsmodels.api as sm

In [41]:
num_lags = 36

test_query = (Queryset('month_to_annual','country_month'))

for lag in range(1, num_lags + 1):
    tlag_variable_name = f"ged_sb_tlag{lag}"
    # Apply the tlag transformation
    test_query = test_query.with_column(
        Column(tlag_variable_name, from_table="ged2_cm", from_column="ged_sb_best_sum_nokgi")
        .transform.missing.replace_na()
        .transform.ops.ln()
        .transform.temporal.tlag(lag)
        .transform.missing.replace_na()
    )

test_query = test_query.with_column(
    Column('wdi_sh_dyn_mort_fe', from_table="wdi_cy", from_column="wdi_sh_dyn_mort_fe")
    .transform.missing.fill()
    .transform.ops.ln()
    .transform.missing.replace_na()

)

test_query = test_query.with_column(
    Column('wdi_ny_gdp_mktp_kd', from_table="wdi_cy", from_column="wdi_ny_gdp_mktp_kd")
    .transform.missing.fill()
    .transform.ops.ln()
    .transform.missing.replace_na()

)

test_query = test_query.with_column(
    Column('wdi_sp_pop_totl', from_table="wdi_cy", from_column="wdi_sp_pop_totl")
    .transform.missing.fill()
    .transform.ops.ln()
    .transform.missing.replace_na()

)
    
query = test_query.publish().fetch()

 .

In [31]:
query

                     wdi_sh_dyn_mort_fe  wdi_ny_gdp_mktp_kd  wdi_sp_pop_totl  \
month_id country_id
1        1                     4.151040           21.645497        13.564709
         2                     3.953165           21.704949        12.834983
         3                     3.616309           22.994549        13.935826
         4                     3.711130            0.000000        16.537493
         5                     3.718438           19.784920        12.013131
...                                 ...                 ...              ...
852      242                   3.793239           24.884573        17.967941
         243                   2.844909           25.542467        17.428496
         244                   3.616309           22.728763        15.344817
         245                   3.927896           25.101865        17.636672
         246                   4.552824           23.207989        16.190256

                     ged_sb_tlag1  ged_sb_tlag2  ged_sb_tlag3  ged_sb_tlag4  \
month_id country_id
1        1                    0.0           0.0           0.0           0.0
         2                    0.0           0.0           0.0           0.0
         3                    0.0           0.0           0.0           0.0
         4                    0.0           0.0           0.0           0.0
         5                    0.0           0.0           0.0           0.0
...                           ...           ...           ...           ...
852      242                  0.0           0.0           0.0           0.0
         243                  0.0           0.0           0.0           0.0
         244                  0.0           0.0           0.0           0.0
         245                  0.0           0.0           0.0           0.0
         246                  0.0           0.0           0.0           0.0

                     ged_sb_tlag5  ged_sb_tlag6  ged_sb_tlag7  ...  \
month_id country_id                                            ...
1        1                    0.0           0.0           0.0  ...
         2                    0.0           0.0           0.0  ...
         3                    0.0           0.0           0.0  ...
         4                    0.0           0.0           0.0  ...
         5                    0.0           0.0           0.0  ...
...                           ...           ...           ...  ...
852      242                  0.0           0.0           0.0  ...
         243                  0.0           0.0           0.0  ...
         244                  0.0           0.0           0.0  ...
         245                  0.0           0.0           0.0  ...
         246                  0.0           0.0           0.0  ...

                     ged_sb_tlag27  ged_sb_tlag28  ged_sb_tlag29  \
month_id country_id
1        1                     0.0            0.0            0.0
         2                     0.0            0.0            0.0
         3                     0.0            0.0            0.0
         4                     0.0            0.0            0.0
         5                     0.0            0.0            0.0
...                            ...            ...            ...
852      242                   0.0            0.0            0.0
         243                   0.0            0.0            0.0
         244                   0.0            0.0            0.0
         245                   0.0            0.0            0.0
         246                   0.0            0.0            0.0

                     ged_sb_tlag30  ged_sb_tlag31  ged_sb_tlag32  \
month_id country_id
1        1                     0.0            0.0            0.0
         2                     0.0            0.0            0.0
         3                     0.0            0.0            0.0
         4                     0.0            0.0            0.0
         5                     0.0            0.0            0.0
...                            ...            ...            ...
852      242                   0.0            0.0            0.0
         243                   0.0            0.0            0.0
         244                   0.0            0.0            0.0
         245                   0.0            0.0            0.0
         246                   0.0            0.0            0.0

                     ged_sb_tlag33  ged_sb_tlag34  ged_sb_tlag35  \
month_id country_id
1        1                     0.0            0.0            0.0
         2                     0.0            0.0            0.0
         3                     0.0            0.0            0.0
         4                     0.0            0.0            0.0
         5                     0.0            0.0            0.0
...                            ...            ...            ...
852      242                   0.0            0.0            0.0
         243                   0.0            0.0            0.0
         244                   0.0            0.0            0.0
         245                   0.0            0.0            0.0
         246                   0.0            0.0            0.0

                     ged_sb_tlag36
month_id country_id
1        1                     0.0
         2                     0.0
         3                     0.0
         4                     0.0
         5                     0.0
...                            ...
852      242                   0.0
         243                   0.0
         244                   0.0
         245                   0.0
         246                   0.0

[158230 rows x 39 columns]

In [32]:
query.query('month_id > 240 & month_id < 505 & country_id == 245')

,,wdi_sh_dyn_mort_fe,wdi_ny_gdp_mktp_kd,wdi_sp_pop_totl,ged_sb_tlag1,ged_sb_tlag2,ged_sb_tlag3,ged_sb_tlag4,ged_sb_tlag5,ged_sb_tlag6,ged_sb_tlag7,...,ged_sb_tlag27,ged_sb_tlag28,ged_sb_tlag29,ged_sb_tlag30,ged_sb_tlag31,ged_sb_tlag32,ged_sb_tlag33,ged_sb_tlag34,ged_sb_tlag35,ged_sb_tlag36
month_id,country_id,,,,,,,,,,,,,,,,,,,,,
379,245,4.229749,25.268284,17.354137,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,...,0.0,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
380,245,4.229749,25.268284,17.354137,1.791759,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,...,0.0,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
381,245,4.229749,25.268284,17.354137,1.098612,1.791759,0.000000,0.000000,0.000000,0.0,0.00000,...,0.0,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
382,245,4.229749,25.268284,17.354137,4.442651,1.098612,1.791759,0.000000,0.000000,0.0,0.00000,...,0.0,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
383,245,4.229749,25.268284,17.354137,3.295837,4.442651,1.098612,1.791759,0.000000,0.0,0.00000,...,0.0,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,245,3.927896,25.101865,17.636672,2.890372,0.000000,0.000000,0.000000,0.000000,0.0,2.70805,...,0.0,0.0,2.70805,1.609438,1.791759,2.302585,3.828641,1.609438,3.931826,1.386294
501,245,3.927896,25.101865,17.636672,0.000000,2.890372,0.000000,0.000000,0.000000,0.0,0.00000,...,0.0,0.0,0.00000,2.708050,1.609438,1.791759,2.302585,3.828641,1.609438,3.931826
502,245,3.927896,25.101865,17.636672,0.000000,0.000000,2.890372,0.000000,0.000000,0.0,0.00000,...,0.0,0.0,0.00000,0.000000,2.708050,1.609438,1.791759,2.302585,3.828641,1.609438
503,245,3.927896,25.101865,17.636672,1.386294,0.000000,0.000000,2.890372,0.000000,0.0,0.00000,...,0.0,0.0,0.00000,0.000000,0.000000,2.708050,1.609438,1.791759,2.302585,3.828641
504,245,3.927896,25.101865,17.636672,0.000000,1.386294,0.000000,0.000000,2.890372,0.0,0.00000,...,0.0,0.0,0.00000,0.000000,0.000000,0.000000,2.708050,1.609438,1.791759,2.302585

In [33]:
#insert country id as column also :

# query['country_id'] = query.index.get_level_values('country_id')

In [34]:
query.query('month_id > 240 & month_id < 505 & country_id == 245')

,,wdi_sh_dyn_mort_fe,wdi_ny_gdp_mktp_kd,wdi_sp_pop_totl,ged_sb_tlag1,ged_sb_tlag2,ged_sb_tlag3,ged_sb_tlag4,ged_sb_tlag5,ged_sb_tlag6,ged_sb_tlag7,...,ged_sb_tlag28,ged_sb_tlag29,ged_sb_tlag30,ged_sb_tlag31,ged_sb_tlag32,ged_sb_tlag33,ged_sb_tlag34,ged_sb_tlag35,ged_sb_tlag36,country_id
month_id,country_id,,,,,,,,,,,,,,,,,,,,,
379,245,4.229749,25.268284,17.354137,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,...,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,245
380,245,4.229749,25.268284,17.354137,1.791759,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,...,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,245
381,245,4.229749,25.268284,17.354137,1.098612,1.791759,0.000000,0.000000,0.000000,0.0,0.00000,...,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,245
382,245,4.229749,25.268284,17.354137,4.442651,1.098612,1.791759,0.000000,0.000000,0.0,0.00000,...,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,245
383,245,4.229749,25.268284,17.354137,3.295837,4.442651,1.098612,1.791759,0.000000,0.0,0.00000,...,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,245
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,245,3.927896,25.101865,17.636672,2.890372,0.000000,0.000000,0.000000,0.000000,0.0,2.70805,...,0.0,2.70805,1.609438,1.791759,2.302585,3.828641,1.609438,3.931826,1.386294,245
501,245,3.927896,25.101865,17.636672,0.000000,2.890372,0.000000,0.000000,0.000000,0.0,0.00000,...,0.0,0.00000,2.708050,1.609438,1.791759,2.302585,3.828641,1.609438,3.931826,245
502,245,3.927896,25.101865,17.636672,0.000000,0.000000,2.890372,0.000000,0.000000,0.0,0.00000,...,0.0,0.00000,0.000000,2.708050,1.609438,1.791759,2.302585,3.828641,1.609438,245
503,245,3.927896,25.101865,17.636672,1.386294,0.000000,0.000000,2.890372,0.000000,0.0,0.00000,...,0.0,0.00000,0.000000,0.000000,2.708050,1.609438,1.791759,2.302585,3.828641,245
504,245,3.927896,25.101865,17.636672,0.000000,1.386294,0.000000,0.000000,2.890372,0.0,0.00000,...,0.0,0.00000,0.000000,0.000000,0.000000,2.708050,1.609438,1.791759,2.302585,245

In [37]:
query = query.query('month_id > 240 & month_id < 505 & month_id%12 == 0')

In [38]:
query

                     wdi_sh_dyn_mort_fe  wdi_ny_gdp_mktp_kd  wdi_sp_pop_totl  \
month_id country_id
252      1                     3.732896           21.779484        13.539826
         2                     3.349904           21.795169        13.079454
         3                     3.277145           23.309243        14.102345
         4                     2.990720            0.000000        17.011230
         5                     3.005683           20.098032        12.122740
...                                 ...                 ...              ...
504      242                   3.793239           24.884573        17.967941
         243                   2.844909           25.542467        17.428496
         244                   3.616309           22.728763        15.344817
         245                   3.927896           25.101865        17.636672
         246                   4.552824           23.207989        16.190256

                     ged_sb_tlag1  ged_sb_tlag2  ged_sb_tlag3  ged_sb_tlag4  \
month_id country_id
252      1               0.000000      0.000000      0.000000      0.000000
         2               0.000000      0.000000      0.000000      0.000000
         3               0.000000      0.000000      0.000000      0.000000
         4               0.000000      0.000000      0.000000      0.000000
         5               0.000000      0.000000      0.000000      0.000000
...                           ...           ...           ...           ...
504      242             1.098612      0.000000      0.000000      1.791759
         243             1.386294      0.000000      0.000000      0.000000
         244             0.000000      0.000000      0.000000      0.000000
         245             0.000000      1.386294      0.000000      0.000000
         246             0.000000      1.098612      4.189655      3.496508

                     ged_sb_tlag5  ged_sb_tlag6  ged_sb_tlag7  ...  \
month_id country_id                                            ...
252      1               0.000000      0.000000      0.000000  ...
         2               0.000000      0.000000      0.000000  ...
         3               0.000000      0.000000      0.000000  ...
         4               0.000000      0.000000      0.000000  ...
         5               0.000000      0.000000      0.000000  ...
...                           ...           ...           ...  ...
504      242             0.000000      0.000000      0.000000  ...
         243             0.000000      0.000000      0.000000  ...
         244             0.000000      0.000000      0.000000  ...
         245             2.890372      0.000000      0.000000  ...
         246             1.791759      2.397895      2.302585  ...

                     ged_sb_tlag28  ged_sb_tlag29  ged_sb_tlag30  \
month_id country_id
252      1                0.000000       0.000000            0.0
         2                0.000000       0.000000            0.0
         3                0.000000       0.000000            0.0
         4                0.000000       0.000000            0.0
         5                0.000000       0.000000            0.0
...                            ...            ...            ...
504      242              0.000000       0.000000            0.0
         243              0.000000       0.000000            0.0
         244              0.000000       0.000000            0.0
         245              0.000000       0.000000            0.0
         246              1.386294       2.197225            0.0

                     ged_sb_tlag31  ged_sb_tlag32  ged_sb_tlag33  \
month_id country_id
252      1                0.000000       0.000000       0.000000
         2                0.000000       0.000000       0.000000
         3                0.000000       0.000000       0.000000
         4                0.000000       0.000000       0.000000
         5                0.000000       0.000000       0.000000
...                            ...            ...            ...
504      242              0.000000       0.000000       0.000000
         243              0.000000       0.000000       0.000000
         244              0.000000       0.000000       0.000000
         245              0.000000       0.000000       2.708050
         246              1.098612       2.197225       1.386294

                     ged_sb_tlag34  ged_sb_tlag35  ged_sb_tlag36  country_id
month_id country_id
252      1                0.000000       0.000000       0.000000           1
         2                0.000000       0.000000       0.000000           2
         3                0.000000       0.000000       0.000000           3
         4                0.000000       0.000000       0.000000           4
         5                0.000000       0.000000       0.000000           5
...                            ...            ...            ...         ...
504      242              0.000000       0.000000       0.000000         242
         243              0.000000       0.000000       0.000000         243
         244              0.000000       0.000000       0.000000         244
         245              1.609438       1.791759       2.302585         245
         246              3.218876       3.663562       3.688879         246

[4175 rows x 40 columns]

In [39]:
y = query['wdi_sh_dyn_mort_fe']
X = query.drop(columns=['wdi_sh_dyn_mort_fe'])  # Remove the target column from the features

# Add a constant to the independent variables (intercept term)
X = sm.add_constant(X)
#X = X.fillna(X.mean())

# Create the OLS model
model = sm.OLS(y, X)

# Fit the model
results = model.fit()

# Get the summary of the OLS model
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:     wdi_sh_dyn_mort_fe   R-squared:                       0.185
Model:                            OLS   Adj. R-squared:                  0.177
Method:                 Least Squares   F-statistic:                     24.01
Date:                Wed, 08 Nov 2023   Prob (F-statistic):          1.32e-152
Time:                        11:13:36   Log-Likelihood:                -5904.6
No. Observations:                4175   AIC:                         1.189e+04
Df Residuals:                    4135   BIC:                         1.214e+04
Df Model:                          39
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
const                  2.6855      0.104     25.773      0.000       2.481       2.890
wdi_ny_gdp_mktp_kd    -0.1067      0.005    -20.967      0.000      -0.117      -0.097
wdi_sp_pop_totl        0.1813      0.008     21.637      0.000       0.165       0.198
ged_sb_tlag1           0.0185      0.033      0.569      0.569      -0.045       0.082
ged_sb_tlag2           0.0673      0.034      1.981      0.048       0.001       0.134
ged_sb_tlag3           0.0416      0.033      1.273      0.203      -0.022       0.106
ged_sb_tlag4          -0.0894      0.034     -2.614      0.009      -0.156      -0.022
ged_sb_tlag5          -0.0252      0.035     -0.719      0.472      -0.094       0.043
ged_sb_tlag6           0.0456      0.035      1.304      0.192      -0.023       0.114
ged_sb_tlag7           0.0098      0.034      0.289      0.772      -0.057       0.076
ged_sb_tlag8          -0.0301      0.033     -0.916      0.360      -0.094       0.034
ged_sb_tlag9           0.0379      0.034      1.104      0.270      -0.029       0.105
ged_sb_tlag10          0.0086      0.035      0.245      0.807      -0.061       0.078
ged_sb_tlag11          0.0415      0.036      1.155      0.248      -0.029       0.112
ged_sb_tlag12          0.0464      0.032      1.470      0.142      -0.015       0.108
ged_sb_tlag13         -0.0280      0.035     -0.806      0.421      -0.096       0.040
ged_sb_tlag14          0.0318      0.035      0.919      0.358      -0.036       0.100
ged_sb_tlag15          0.0109      0.033      0.332      0.740      -0.054       0.075
ged_sb_tlag16         -0.1189      0.034     -3.505      0.000      -0.185      -0.052
ged_sb_tlag17          0.0061      0.034      0.176      0.860      -0.061       0.073
ged_sb_tlag18          0.0192      0.034      0.569      0.569      -0.047       0.085
ged_sb_tlag19          0.0114      0.035      0.327      0.744      -0.057       0.080
ged_sb_tlag20         -0.0562      0.033     -1.698      0.090      -0.121       0.009
ged_sb_tlag21          0.0408      0.034      1.193      0.233      -0.026       0.108
ged_sb_tlag22          0.0242      0.034      0.709      0.478      -0.043       0.091
ged_sb_tlag23          0.0064      0.035      0.183      0.855      -0.063       0.076
ged_sb_tlag24          0.0550      0.031      1.792      0.073      -0.005       0.115
ged_sb_tlag25         -0.0037      0.034     -0.108      0.914      -0.071       0.064
ged_sb_tlag26          0.0397      0.034      1.152      0.249      -0.028       0.107
ged_sb_tlag27         -0.0045      0.032     -0.139      0.890      -0.068       0.059
ged_sb_tlag28         -0.1031      0.034     -3.070      0.002      -0.169      -0.037
ged_sb_tlag29         -0.0130      0.034     -0.384      0.701      -0.079       0.053
ged_sb_tlag30          0.0161      0.033      0.495      0.621      -0.048       0.080
ged_sb_tlag31          0.0067      0.034      0.198      0.843      -0.060       0.074
ged_sb_tlag32         -0.0504      0.033     -1.533      0.125      -0.115       0.014
ged_sb_tlag33          0.0146      0.033      0.441      0.660      -0.050       0.080
ged_sb_tlag34          0.0295      0.034      0.866      0.387      -0.037       0.096
ged_sb_tlag35         -0.0096      0.034     -0.280      0.780      -0.077       0.058
ged_sb_tlag36          0.0721      0.029      2.449      0.014       0.014       0.130
country_id         -1.845e-05      0.000     -0.077      0.939      -0.000       0.000
==============================================================================
Omnibus:                       69.312   Durbin-Watson:                   0.949
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               59.856
Skew:                          -0.234   Prob(JB):                     1.01e-13
Kurtosis:                       2.646   Cond. No.                         863.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [43]:
ypred = olsres.predict(X)
print(ypred)

NameError: name 'olsres' is not defined

NameError: name 'df' is not defined